
OBSNAM: CRU
OBSDSC: HadCRU_(Jan_1901-Dec_2006)

        filename:   'VERIFICATION/HadCRU_TS3.0/ts_HadCRU_TS3.0.ctl'
        filetype:   'BIN'
        fields:     'TS'  , 'SURFACE' , 'P1' , 1
                    ::
