# fv2prs.rc
#
#  This is a resource file for the lcv2prs utility.
#
# !REVISION HISTORY:
#
#  Feb2007  B. Yin    First version.
#
#...........................................................................

#                     ----------------------
#                     Output File Resolution
#                     ----------------------

zonal_resolution: 576              # no. of zonal grid-points (im)
west_most_longitude_in_deg: -180.0 # longitude of first point (i=1)
meridional_resolution: 361          # no. meridional grid-points (jm)
vertical_level_numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72

#                       ----------------
#                       Variable Classes
#                       ----------------
 
# A variable class lists the variable names that make up a file
# type or product.


### PRODUCT: inst6_3d_ana_Nv (3-D instantaneous variables)
VarClass*inst6_3d_ana_Nv: PS DELP T U;V QV O3

#                         --------------------
#                         Variable Translation
#                         --------------------

Variable_translation_table::

#      Output          |                       Input
#  Name       Units    | Name             scale_factor  add_offset  Positive Check
#  -------------------------------------------------------------------------------
# For inst6_3d_ana_Nv -- from ana.eta file
   PS         Pa         ps                     1.0        0.0          0
   DELP       Pa         delp                   1.0        0.0          0
   T          K          tmpu(theta,delp,sphu)  1.0        0.0          0
   U;V        m/s        u;v                    1.0        0.0          0
   QV         kg/kg      sphu                   1.0        0.0          0 # kg/kg
   O3         kg/kg      ozone              0.00000166     0.0          0
::

#                         Variable Description
#                         --------------------

# Table for variable names and description:
# For inst6_3d_ana_Nv

PS:        Surface pressure
DELP: 	   Layer pressure thickness
T:         Air temperature
U:         Eastward wind component
V:         Northward wind component
QV:        Specific humidity
O3:        Ozone mixing ratio

StandardName:PS:   surface_air_pressure
StandardName:DELP: layer_pressure_thickness
StandardName:T:    air_temperature
StandardName:U:    eastward_wind
StandardName:V:    northward_wind
StandardName:QV:   specific_humidity
StandardName:O3:   ozone_mixing_ratio


history:        File written by CFIO
convention:     CF-1.0
institution:    Global Modeling and Assimilation Office, NASA Goddard Space Flight Center, Greenbelt, MD 20771
references:     http://gmao.gsfc.nasa.gov/
comment:        @PUBLICTAG
source:         Global Modeling and Assimilation Office
title:          MERRA2 reanalysis.  @PUBLICTAG
contact:        http://gmao.gsfc.nasa.gov/
