# lcv2prs.rc
#
#  This is a resource file for the lcv2prs utility.
#
# !REVISION HISTORY:
#
#  26Jan2006  B. Yin    First version.
#
#...........................................................................
#                     ----------------------
#                     Output File Resolution
#                     ----------------------

zonal_resolution: 540              # no. of zonal grid-points (im)
west_most_longitude_in_deg: -180.0 # longitude of first point (i=1)
meridional_resolution: 361         # no. meridional grid-points (jm)
vertical_level_numbers: 1
#                       ----------------
#                       Variable Classes
#                       ----------------
 
# A variable class lists the variable names that make up a file type or product.

###  PRODUCT: inst1_2d_int_Nx (2-D diagnostics)

VarClass*inst1_2d_int_Nx:  TQV TQI TQL TOX MASS KE CPT THV \
                           Var_TQV Var_TQI Var_TQL Var_TOX Var_MASS Var_KE Var_CPT Var_THV

#                         --------------------
#                         Variable Translation
#                         --------------------

Variable_translation_table::

#      Output          |                       Input
#  Name       Units    | Name             scale_factor  add_offset Positive check
#  ------------------------------------------------------------------------------
   TQV        kg/m2      TQV                    1.0        0.0          0
   TQI        kg/m2      TQI                    1.0        0.0          0
   TQL        kg/m2      TQL                    1.0        0.0          0
   TOX        kg/m2      TOX                    1.0        0.0          0
   MASS       kg/m2      MASS                   1.0        0.0          0
   KE         J/m2       KE                     1.0        0.0          0
   CPT        J/m2       CPT                    1.0        0.0          0
   THV        K          THV                    1.0        0.0          0
::


# Table for variable names and description:

TQV:        Total Q vapor (Total precipitable water)
TQI:        Total cloud ice water
TQL:        Total cloud liquid water
TOX:        Total column odd oxygen  
MASS:       Atmospheric mass
KE:         Kinetic energy
CPT:        Dry enthalpy
THV:        Vertically integrated virtual potential temperature

# Global meta data

history:        File written by CFIO
convention:     CF-1.0
institution:    Global Modeling and Assimilation Office, NASA Goddard Space Flight Center, Greenbelt, MD 20771
references:     http://gmao.gsfc.nasa.gov/research/merra/
comment:        @PUBLICTAG
source:         Global Modeling and Assimilation Office. GEOSops_5_2_0
title:          MERRA reanalysis.  @PUBLICTAG
contact:        http://gmao.gsfc.nasa.gov/

