# fv2prs.rc
#
#  This is a resource file for the fv2prs utility.
#
# !REVISION HISTORY:
#
#  26Jan2006  B. Yin    Modification from tsyn3d_mis_p.rc.
#
#...........................................................................

#                     ----------------------
#                     Output File Resolution
#                     ----------------------

zonal_resolution: 288              # no. of zonal grid-points (im)
west_most_longitude_in_deg: -179.375 # longitude of first point (i=1)
meridional_resolution: 144          # no. meridional grid-points (jm)
south_most_latitude_in_deg: -89.375 # latitude of first point (i=1)
delta_phi:                  1.25    # latitude difference between 2 grid points
vertical_level_numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42
#vertical_levels_in_hPa: 1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.1

#                       ----------------
#                       Variable Classes
#                       ----------------
 
# A variable class lists the variable names that make up a file
# type or product.


### PRODUCT: tavg3_3d_udt_Cp (3-D instantaneous variables)
VarClass*tavg3_3d_udt_Cp: DUDTMST DUDTTRB DUDTGWD DUDTDYN DUDTANA DVDTMST DVDTTRB DVDTGWD DVDTDYN DVDTANA \
                          Var_DUDTMST Var_DUDTTRB Var_DUDTGWD Var_DUDTDYN Var_DUDTANA Var_DVDTMST Var_DVDTTRB \
                          Var_DVDTGWD Var_DVDTDYN Var_DVDTANA

#                         --------------------
#                         Variable Translation
#                         --------------------

Variable_translation_table::

#      Output          |                       Input
#  Name       Units    | Name             scale_factor  add_offset  Positive Check
#  -------------------------------------------------------------------------------
# For tavg3_3d_udt_Cp -- from ana.eta file
   DUDTMST    m/s2       DUDTMST                1.0        0.0          0
   DUDTTRB    m/s2       DUDTTRB                1.0        0.0          0
   DUDTGWD    m/s2       DUDTGWD                1.0        0.0          0
   DUDTDYN    m/s2       DUDTDYN                1.0        0.0          0
   DUDTANA    m/s2       DUDTANA                1.0        0.0          0
   DUDTMST    m/s2       DUDTMST                1.0        0.0          0
   DVDTMST    m/s2       DVDTMST                1.0        0.0          0
   DVDTTRB    m/s2       DVDTTRB                1.0        0.0          0
   DVDTGWD    m/s2       DVDTGWD                1.0        0.0          0
   DVDTDYN    m/s2       DVDTDYN                1.0        0.0          0
   DVDTANA    m/s2       DVDTANA                1.0        0.0          0
::

#                         Variable Description
#                         --------------------

# Table for variable names and description:
# For tavg3_3d_udt_Cp

DUDTMST:   U-wind tendency from moist physics
DUDTTRB:   U-wind tendency from turbulence 
DUDTGWD:   U-wind tendency from gravity wave drag
DUDTDYN:   U-wind tendency from dynamics
DUDTANA:   U-wind tendency from analysis
DVDTMST:   V-wind tendency from moist physics 
DVDTTRB:   V-wind tendency from turbulence 
DVDTGWD:   V-wind tendency from gravity wave drag
DVDTDYN:   V-wind tendency from dynamics
DVDTANA:   V-wind tendency from analysis

history:        File written by CFIO
convention:     CF-1.0
institution:    Global Modeling and Assimilation Office, NASA Goddard Space Flight Center, Greenbelt, MD 20771
references:     http://gmao.gsfc.nasa.gov/research/merra/
comment:        @PUBLICTAG
source:         Global Modeling and Assimilation Office. GEOSops_5_2_0
title:          MERRA reanalysis.  @PUBLICTAG
contact:        http://gmao.gsfc.nasa.gov/

