#
# !REVISION HISTORY:
#
#  ??Jan2006  B. Yin    first version.
#  25Apr2006  Todling   Declared dims so fvsetup get set them up.
#
zonal_resolution: @IM              # no. of zonal grid-points (im)
west_most_longitude_in_deg: -180.0 # longitude of first point (i=1)
meridional_resolution: @JM        # no. meridional grid-points (jm)
vertical_level_numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73

#                       ----------------
#                       Variable Classes
#                       ----------------

###  PRODUCT: tavg3d_met_e  
VarClass*tavg3d_met_e: PLE CMFMC HGHTE KH KM MFZ


#                         --------------------
#                         Variable Translation
#                         --------------------

Variable_translation_table::

#      Output          |                       Input
#  Name       Units    | Name              scale_factor  add_offset 
#  ----------------------------------------------------------------
   PLE        Pa         PLE                    1.0        0.0         0
   CMFMC      kg/m2/s    CMFMC                  1.0        0.0         0
   HGHTE      m          HGHTE                  1.0        0.0         0
   KH         m2/s       KH                     1.0        0.0         0
   KM         m2/s       KM                     1.0        0.0         0
   MFZ        kg/m2/s    MFZ                    1.0        0.0         0
::

# variable names and description:
PLE:        Edge pressure
CMFMC:      Upward moist convection mass flux
HGHTE:	    Geopotential height at layer edges
KH:	    Total scalar diffusivity
KM:	    Total momentum diffusivity
MFZ:        Upward resolved Mass flux

history:        @CVSTAG
convention:     CF-1.0
institution:    Global Modeling and Assimilation Office (GMAO), NASA Goddard Space Flight Center, Greenbelt, MD 20771
references:     http://gmao.gsfc.nasa.gov
comment:        This HDF-4 file uses gzip.
source:         @PUBLICTAG
title:          @PUBLICTAG forward-processing
contact:        data@gmao.gsfc.nasa.gov

