# fv2prs.rc
#
#  This is a resource file for the lcv2prs utility.
#
# !REVISION HISTORY:
#
#  Feb2007  B. Yin    First version.
#
#...........................................................................

#                     ----------------------
#                     Output File Resolution
#                     ----------------------

zonal_resolution: 540              # no. of zonal grid-points (im)
west_most_longitude_in_deg: -180.0 # longitude of first point (i=1)
meridional_resolution: 361          # no. meridional grid-points (jm)
vertical_level_numbers: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72

#                       ----------------
#                       Variable Classes
#                       ----------------
 
# A variable class lists the variable names that make up a file
# type or product.


### PRODUCT: tavg3_3d_chm_Nv (3-D instantaneous variables)
VarClass*tavg3_3d_chm_Nv: MFXC MFYC UC VC DTRAIN
#VarClass*tavg3_3d_chm_Nv: LMFXC LMFYC MFXC MFYC CLLS CLAN DTRAIN 

#                         --------------------
#                         Variable Translation
#                         --------------------

Variable_translation_table::

#      Output          |                       Input
#  Name       Units    | Name             scale_factor  add_offset  Positive Check
#  -------------------------------------------------------------------------------
# For tavg3_3d_chm_Nv -- from ana.eta file
   LMFXC      Pa*m2/s    LMFXC                  1.0        0.0          0 
   LMFYC      Pa*m2/s    LMFYC                  1.0        0.0          0
   MFXC       Pa*m/s     MFXC                   1.0        0.0          0
   MFYC       Pa*m/s     MFYC                   1.0        0.0          0
   UC         m/s        UC                     1.0        0.0          0
   VC         m/s        VC                     1.0        0.0          0
   DDPDTANA   Pa/s       DDPDTANA               1.0        0.0          0
   CLLS       fraction   CLLS                   1.0        0.0          0
   CLAN       fraction   CLAN                   1.0        0.0          0
   DTRAIN     kg/m2/s    DTRAIN                 1.0        0.0          0
::

#                         Variable Description
#                         --------------------

# Table for variable names and description:
# For tavg3_3d_chm_Nv

LMFXC:          Eastward lagrangian mass flux on C-Grid
LMFYC:          Northward lagrangian mass flux on C-Grid
MFXC:           Eastward mass flux on C-Grid
MFYC:           Northward mass flux on C-Grid
UC:             Eastward component of wind on C-Grid
VC:             Northward component of wind on C-Grid
DDPDTANA:       Tendency of layer thickness due to analysis
CLLS:           Large-scale cloud fraction
CLAN:           Anvil cloud fraction
DTRAIN:         Detrainment cloud mass flux

history:        File written by CFIO
convention:     CF-1.0
institution:    Global Modeling and Assimilation Office, NASA Goddard Space Flight Center, Greenbelt, MD 20771
references:     http://gmao.gsfc.nasa.gov
comment:        First CFIO GEOS version
source:         Global Modeling and Assimilation Office. @CVSTAG
title:          File written by CFIO. @CVSTAG
contact:        data@gmao.gsfc.nasa.gov

