#
# This the GEOS-CHEM Grid Component Registry. It defines Import,
# Internal and Export states for this component as well as
# any
#
# !REVISION HISTORY:
#  16Aug2006  da Silva   First Version
#  30Jun2012  Nielsen    For Ganymed
#  10 Oct 2012 - R. Yantosca - Updated for GEOS-Chem v9-01-03, which has new
#                              Bromine compounds as advected tracers & species
#
# -----------------------------------------------------------------

  COMP_NAME: GIGCchem

# Only change the Registry version when major structural changes
# occurs, not changes in content
# --------------------------------------------------------------
  MAPL_REGISTRY_VERSION: 1.00

#				------------
#				Import State
#				------------

<ImportSpec name="GIGCchem", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,default,long_name">
# -------------------|-------------|-----|---|----|---|---|-----|------|--------------------------
#  Short	     |  	   |	 | V |Item|Intervl| Sub | Def  |	Long
#  Name 	     |   Units     | Dim |Loc|Type| R | A |Tiles| ault |	Name
# -------------------|-------------|-----|---|----|---|---|-----|------|--------------------------
  ALBVF              |     1	   | xy  |   |    |   |   |	|      | surface_albedo_for_visible_diffuse
  AREA               |     m2	   | xy  |   |    |   |   |	|      | agrid_cell_area
  CLDTT              |     1	   | xy  |   |    |   |   |	|      | total_cloud_area_fraction
  FRLAND             |     1	   | xy  |   |    |   |   |	|      | fraction_of_land
  WET1               |     1	   | xy  |   |    |   |   |	|      | surface_soil_wetness
  SH                 |    W/m2     | xy  |   |    |   |   |	|      | sensible_heat_flux_from_turbulence
  LWI                |     1	   | xy  |   |    |   |   |	|      | land-ocean-ice_mask
  DRPAR              |    W/m2     | xy  |   |    |   |   |	|      | surface_downwelling_par_beam_flux
  DFPAR              |    W/m2     | xy  |   |    |   |   |	|      | surface_downwelling_par_diffuse_flux
  ZPBL               |     m	   | xy  |   |    |   |   |	|      | planetary_boundary_layer_height
  CN_PRCP            |  kg/m2/s    | xy  |   |    |   |   |	|      | convective_precipitation
  TPREC              |  kg/m2/s    | xy  |   |    |   |   |	|      | total_precipitation
  PS                 |     Pa	   | xy  |   |    |   |   |	|      | surface_ressure
  SWNDSRF            |    W/m2     | xy  |   |    |   |   |	|      | surface_net_downward_shortwave_flux
  TROPP              |    hPa	   | xy  |   |    |   |   |	|      | tropopause_pressure_based_on_blended_estimate
  TS                 |     K	   | xy  |   |    |   |   |	|      | surface_skin_temperature
  TO3                |  dobsons	   | xy  |   |    |   |   |	|      | total_ozone
  U10M               |    m/s	   | xy  |   |    |   |   |	|      | 10-meter_eastward_wind
  USTAR              |    m/s	   | xy  |   |    |   |   |	|      | surface_velocity_scale
  V10M               |    m/s	   | xy  |   |    |   |   |	|      | 10-meter_northward_wind
  Z0H                |     m	   | xy  |   |    |   |   |	|      | surface_roughness_for_heat
  ZTH                |     1       | xy  |   |    |   |   |     |      | Cosine of solar zenith angle
  AIRDENS            |   kg/m3     | xyz | C |    |   |   |	|      | air_density
  ZLE                |     m	   | xyz | E |    |   |   |	|      | geopotential_height
  FCLD               |     1	   | xyz | C |    |   |   |	|      | cloud_fraction_for_radiation
  CNV_MFC            |  kg/m2/s    | xyz | E |    |   |   |	|      | cumulative_mass_flux
  DQIDT              |  kg/kg/s    | xyz | C |    |   |   |	|      | total_ice_water_tendency_due_to_moist
  DQLDT              |  kg/kg/s    | xyz | C |    |   |   |	|      | total_liq_water_tendency_due_to_moist
  DQDT               |  kg/kg/s    | xyz | C |    |   |   |	|      | specific_humidity_tendency_due_to_moist
  CNV_MFD            |  kg/m2/s    | xyz | C |    |   |   |	|      | detraining_mass_flux
  PLE                |     Pa	   | xyz | E |    |   |   |	|      | air_pressure_layer_interfaces
  RH2                |     1	   | xyz | C |    |   |   |	|      | Rel_Hum_after_moist
  Q                  |   kg/kg     | xyz | C |    |   |   |	|      | specific_humidity
  QI                 |   kg/kg     | xyz | C |    |   |   |	|      | ice mixing ratio
  QL                 |   kg/kg     | xyz | C |    |   |   |	|      | water mixing ratio
  T                  |     K	   | xyz | C |    |   |   |	|      | air_temperature
  TAUCLI             |     1	   | xyz | C |    |   |   |	|      | optical_thickness_for_ice_clouds
  TAUCLW             |     1	   | xyz | C |    |   |   |	|      | optical_thickness_for_liquid_clouds 
  IREG               |     1	   | xy  |   |    |   |   |	|      | Number of Olson land-types in gridbox
  IUSE               |     1	   | xy  |   |    |   |   |	|      | Fraction ((per mil) of gridbox area occupied by land type
  ILAND              |     1	   | xy  |   |    |   |   |	|      | Land type ID in grid square (I,J) for IREG landtypes
# -------------------|-------------|-----|---|----|---|---|-----|------|--------------------------
</ImportSpec>

#				------------
#				Export State
#				------------

<ExportSpec name="GIGCchem", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,long_name">
# ------------------|----------------|-----|---|----|---|---|-----|---------------------------------
#  Short	    |		     |     | V |Item|Intervl| Sub |	     Long
#  Name 	    |   Units	     | Dim |Loc|Type| R | A |Tiles|	     Name
# ------------------|----------------|-----|---|----|---|---|-----|---------------------------------
  O3PPMV    	    | ppmv           | xyz | C |    |	|   |	  | ozone_volume_mixing_ratio_in_ppm
  OX_TEND    	    | kg kg-1 s-1    | xyz | C |    |	|   |	  | tendency_of_odd_oxygen_mixing_ratio_due_to_chemistry
  H2O_TEND    	    | kg kg-1 s-1    | xyz | C |    |	|   |	  | tendency_of_water_vapor_mixing_ratio_due_to_chemistry
# ------------------|----------------|-----|---|----|---|---|-----|---------------------------------
</ExportSpec>

#                               --------------
#                               Internal State
#                               --------------

#
# Note: 1) For friendlies, use "D" for dynamics, "T" for turbulence and "C" for convection; leave blank otherwise
#       2) If quantity requires no restart, put an 'x' in the No Rst column
#       3) RO = Alkoxy radical, RO2 = Organic peroxy radical

<InternalSpec name="GIGCchem", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,default,norestart,halowidth,friendlyto,long_name">
# --------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
#  Short        |            |     | V |Item|Intervl| Sub | Def  | No | Ha | Friends |            Long
#  Name         |   Units    | Dim |Loc|Type| R | A |Tiles| ault | Rst| lo |         |            Name
# --------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
   TRC_NO      |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | NO
   TRC_O3      |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | O3
   TRC_PAN     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | peroxyacetyl nitrate
   TRC_CO      |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | carbon monoxide
   TRC_ALK4    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | >=C4 alkanes
   TRC_ISOP    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | isoprene
   TRC_HNO3    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | nitric acid
   TRC_H2O2    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | hydrogen peroxide
   TRC_ACET    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | acetone
   TRC_MEK     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | methyl ethyl ketone
   TRC_ALD2    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | acetaldehyde
   TRC_RCHO    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | lumped aldehyde >=C3
   TRC_MVK     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | methyl vinyl ketone
   TRC_MACR    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | methacrolein
   TRC_PMN     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | peroxymethacryoyl nitrate
   TRC_PPN     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | lumped peroxyacyl nitrate
   TRC_R4N2    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | lumped alkyl nitrate
   TRC_PRPE    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | >=C3 alkenes
   TRC_C3H8    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | propane
   TRC_CH2O    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | formaldehyde
   TRC_C2H6    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | ethane
   TRC_N2O5    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | dinitrogen pentoxide
   TRC_HNO4    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | pernitric acid
   TRC_MP      |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | methyl hydro peroxide
   TRC_DMS     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | dimethyl sulfide
   TRC_SO2     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | sulfur dioxide
   TRC_SO4     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | sulfate
   TRC_SO4s    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | sulfate on surface of sea salt aerosol
   TRC_MSA     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | methyl sulfionic acid
   TRC_NH3     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | ammonia
   TRC_NH4     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | ammonium
   TRC_NIT     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | aerosol nitrate ion
   TRC_NITs    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | aerosol nitrate ion on surface of sea salt aerosol
   TRC_BCPI    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | black carbon, hydrophilic
   TRC_OCPI    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | organic carbon, hydrophilic
   TRC_BCPO    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | black carbon, hydrophobic
   TRC_OCPO    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | organic carbon, hydrophobic
   TRC_DST1    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | dust aerosol, Reff = 0.7 microns
   TRC_DST2    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | dust aerosol, Reff = 1.4 microns
   TRC_DST3    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | dust aerosol, Reff = 2.4 microns
   TRC_DST4    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | dust aerosol, Reff = 4.5 microns
   TRC_SALA    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | sea salt aerosol, accumulation mode
   TRC_SALC    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | sea salt aerosol, coarse mode  
   TRC_Br2     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | Br2
   TRC_Br      |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | Br
   TRC_BrO     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | BrO
   TRC_HOBr    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | HOBr
   TRC_HBr     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | HBr
   TRC_BrNO2   |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | BrNO2
   TRC_BrNO3   |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | BrNO3
   TRC_CHBr3   |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | CHBr3 
   TRC_CH2Br2  |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | CH2Br2 
   TRC_CH3Br   |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | CH3Br 
   TRC_MPN     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | MPN
   TRC_ISOPN   |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | ISOPN
   TRC_MOBA    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | MOBA
   TRC_PROPNN  |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | PROPNN
   TRC_HAC     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | HAC
   TRC_GLYC    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | GLYC
   TRC_MMN     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | MMN
   TRC_RIP     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | RIP
   TRC_IEPOX   |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | IEPOX
   TRC_MAP     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | MAP
   TRC_NO2     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | NO2
   TRC_NO3     |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | NO3
   TRC_HNO2    |  mol/mol   | xyz | C |    |   |   |     |      |    |    |         | HNO2
#---------------------------------------------------------------------------------------------------------------------
#                                         Chemical species (CSPEC)
# -------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
#  Short       |            |     | V |Item|Intervl| Sub | Def  | No | Ha | Friends |            Long
#  Name        |   Units    | Dim |Loc|Type| R | A |Tiles| ault | Rst| lo |         |            Name
# -------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
   A3O2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ACET        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ACTA        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ALD2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ALK4        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ATO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   B3O2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   Br          |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   Br2         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   BrNO2       |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   BrNO3       |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   BrO         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   C2H6        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   C3H8        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   CH2O        |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   CH2Br2      |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   CH3Br       |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   CH4         |molec/cm3/s | xyz | C |    |   |   |     |1.7E-6|    |    |         |
   CHBr3       |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   CO          |molec/cm3/s | xyz | C |    |   |   |     |1E-07 |    |    |         |
   DMS         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   DRYBr2      |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   DRYBrNO3    |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   DRYCH2O     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYH2O2     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYHBr      |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYHNO3     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYHOBr     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYN2O5     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYNO2      |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYO3       |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYPAN      |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYPMN      |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYPPN      |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYR4N2     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYMVK      |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   DRYMACR     |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   EMISSION    |molec/cm3/s | xyz | C |    |   |   |     |1E+00 |    |    |         |
   EOH         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ETO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ETP         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   GLYC        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   GLYX        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   GP          |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   H           |molec/cm3/s | xyz | C |    |   |   |     |4E-20 |    |    |         |
   H2          |molec/cm3/s | xyz | C |    |   |   |     |5E-07 |    |    |         |
   H2O         |molec/cm3/s | xyz | C |    |   |   |     |0.01839|   |    |         |
   H2O2        |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   HAC         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   HBr         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   HOBr        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   HCOOH       |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   HNO2        |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   HNO3        |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   HNO4        |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   HO2         |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   IALD        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   IAO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   IAP         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   INO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   INPN        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ISN1        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ISNP        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ISOP        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   KO2         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   M           |molec/cm3/s | xyz | C |    |   |   |     |0E+00 |    |    |         |
   MACR        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MAN2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MAO3        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MAOP        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MAP         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MCO3        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MEK         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MGLY        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MO2         |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   MOH         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MP          |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   MRO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MRP         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MSA         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   MVK         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   N2          |molec/cm3/s | xyz | C |    |   |   |     |0.7808|    |    |         |
   N2O5        |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   NH2         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   NH3         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   NO          |molec/cm3/s | xyz | C |    |   |   |     |4E-13 |    |    |         |
   NO2         |molec/cm3/s | xyz | C |    |   |   |     |4E-13 |    |    |         |
   NO3         |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   O           |molec/cm3/s | xyz | C |    |   |   |     |4E-20 |    |    |         |
   O2          |molec/cm3/s | xyz | C |    |   |   |     |0.2095|    |    |         |
   O3          |molec/cm3/s | xyz | C |    |   |   |     |2E-08 |    |    |         |
   OH          |molec/cm3/s | xyz | C |    |   |   |     |4E-15 |    |    |         |
   PAN         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PMN         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PO2         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PP          |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PPN         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PRN1        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PRPE        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   PRPN        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   R4N1        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   R4N2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   R4O2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   R4P         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RA3P        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RB3P        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RCHO        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RCO3        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RCOOH       |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RIO1        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RIO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RIP         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   ROH         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   RP          |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   SO2         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   SO4         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   VRO2        |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
   VRP         |molec/cm3/s | xyz | C |    |   |   |     |1E-20 |    |    |         |
# --------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
</InternalSpec>
