OBSNAM: MERRAero
OBSDSC: MERRA_Aerosol_Reanalysis_Rel-2

        filename:   'VERIFICATION/dR_MERRA-AA-r2/inst2d_gaas_x_monthly.ddf'
        filetype:   'HDF'
        fields:     'AODANA'    , 'GAAS'     , 'AODANA'    , 1 ,
                    'AODINC'    , 'GAAS'     , 'AODINC'    , 1 ,
                    ::

        filename:   'VERIFICATION/dR_MERRA-AA-r2/inst2d_gaas_v_monthly.ddf'
        filetype:   'HDF'
        fields:     'DUINC'     , 'GAAS'     , 'DUINC'     , 1 ,
                    'SSINC'     , 'GAAS'     , 'SSINC'     , 1 ,
                    'SUINC'     , 'GAAS'     , 'SUINC'     , 1 ,
                    'BCINC'     , 'GAAS'     , 'BCINC'     , 1 ,
                    'OCINC'     , 'GAAS'     , 'OCINC'     , 1 ,
                    ::

        filename:   'VERIFICATION/dR_MERRA-AA-r2/geosgcm_surf_monthly.ddf'
        filetype:   'HDF'
        fields:     'TTAUDU'   , 'SOLAR'         , 'TTAUDU'   , 1 ,
                    'TTAUSS'   , 'SOLAR'         , 'TTAUSS'   , 1 ,
                    'TTAUSO'   , 'SOLAR'         , 'TTAUSO'   , 1 ,
                    'TTAUBC'   , 'SOLAR'         , 'TTAUBC'   , 1 ,
                    'TTAUOC'   , 'SOLAR'         , 'TTAUOC'   , 1 ,
                    'TDUST'    , 'SOLAR'         , 'TDUST'    , 1 ,
                    'TSALT'    , 'SOLAR'         , 'TSALT'    , 1 ,
                    'TSO4'     , 'SOLAR'         , 'TSO4'     , 1 ,
                    'TBC'      , 'SOLAR'         , 'TBC'      , 1 ,
                    'TOC'      , 'SOLAR'         , 'TOC'      , 1 ,
                    ::

        filename:   'VERIFICATION/dR_MERRA-AA-r2/tavg2d_aer_x_monthly.ddf'
        filetype:   'HDF'
        fields:     'TOTEXTTAU'   , 'GOCART'      , 'TOTEXTTAU'   , 1 ,
                    'TOTSCATAU'   , 'GOCART'      , 'TOTSCATAU'   , 1 ,
                    'TOTANGSTR'   , 'GOCART'      , 'TOTANGSTR'   , 1 ,
                    'DUEM001'     , 'GOCART'      , 'DUEM001'     , 1 ,
                    'DUEM002'     , 'GOCART'      , 'DUEM002'     , 1 ,
                    'DUEM003'     , 'GOCART'      , 'DUEM003'     , 1 ,
                    'DUEM004'     , 'GOCART'      , 'DUEM004'     , 1 ,
                    'DUEM005'     , 'GOCART'      , 'DUEM005'     , 1 ,
                    'DUSD001'     , 'GOCART'      , 'DUSD001'     , 1 ,
                    'DUSD002'     , 'GOCART'      , 'DUSD002'     , 1 ,
                    'DUSD003'     , 'GOCART'      , 'DUSD003'     , 1 ,
                    'DUSD004'     , 'GOCART'      , 'DUSD004'     , 1 ,
                    'DUSD005'     , 'GOCART'      , 'DUSD005'     , 1 ,
                    'DUDP001'     , 'GOCART'      , 'DUDP001'     , 1 ,
                    'DUDP002'     , 'GOCART'      , 'DUDP002'     , 1 ,
                    'DUDP003'     , 'GOCART'      , 'DUDP003'     , 1 ,
                    'DUDP004'     , 'GOCART'      , 'DUDP004'     , 1 ,
                    'DUDP005'     , 'GOCART'      , 'DUDP005'     , 1 ,
                    'DUWT001'     , 'GOCART'      , 'DUWT001'     , 1 ,
                    'DUWT002'     , 'GOCART'      , 'DUWT002'     , 1 ,
                    'DUWT003'     , 'GOCART'      , 'DUWT003'     , 1 ,
                    'DUWT004'     , 'GOCART'      , 'DUWT004'     , 1 ,
                    'DUWT005'     , 'GOCART'      , 'DUWT005'     , 1 ,
                    'DUSV001'     , 'GOCART'      , 'DUSV001'     , 1 ,
                    'DUSV002'     , 'GOCART'      , 'DUSV002'     , 1 ,
                    'DUSV003'     , 'GOCART'      , 'DUSV003'     , 1 ,
                    'DUSV004'     , 'GOCART'      , 'DUSV004'     , 1 ,
                    'DUSV005'     , 'GOCART'      , 'DUSV005'     , 1 ,
                    'DUSMASS'     , 'GOCART'      , 'DUSMASS'     , 1 ,
                    'DUCMASS'     , 'GOCART'      , 'DUCMASS'     , 1 ,
                    'DUEXTTAU'    , 'GOCART'      , 'DUEXTTAU'    , 1 ,
                    'DUSCATAU'    , 'GOCART'      , 'DUSCATAU'    , 1 ,
                    'DUANGSTR'    , 'GOCART'      , 'DUANGSTR'    , 1 ,
                    'DUEXTTFM'    , 'GOCART'      , 'DUEXTTFM'    , 1 ,
                    'DUSCATFM'    , 'GOCART'      , 'DUSCATFM'    , 1 ,
                    'DUSMASS25'   , 'GOCART'      , 'DUSMASS25'   , 1 ,
                    'DUCMASS25'   , 'GOCART'      , 'DUCMASS25'   , 1 ,
                    'DUEXTT25'    , 'GOCART'      , 'DUEXTT25'    , 1 ,
                    'DUSCAT25'    , 'GOCART'      , 'DUSCAT25'    , 1 ,
                    'DUAERIDX'    , 'GOCART'      , 'DUAERIDX'    , 1 ,
                    'DUFLUXU'     , 'GOCART'      , 'DUFLUXU'     , 1 ,
                    'DUFLUXV'     , 'GOCART'      , 'DUFLUXV'     , 1 ,
                    'SSEM001'     , 'GOCART'      , 'SSEM001'     , 1 ,
                    'SSEM002'     , 'GOCART'      , 'SSEM002'     , 1 ,
                    'SSEM003'     , 'GOCART'      , 'SSEM003'     , 1 ,
                    'SSEM004'     , 'GOCART'      , 'SSEM004'     , 1 ,
                    'SSEM005'     , 'GOCART'      , 'SSEM005'     , 1 ,
                    'SSSD001'     , 'GOCART'      , 'SSSD001'     , 1 ,
                    'SSSD002'     , 'GOCART'      , 'SSSD002'     , 1 ,
                    'SSSD003'     , 'GOCART'      , 'SSSD003'     , 1 ,
                    'SSSD004'     , 'GOCART'      , 'SSSD004'     , 1 ,
                    'SSSD005'     , 'GOCART'      , 'SSSD005'     , 1 ,
                    'SSDP001'     , 'GOCART'      , 'SSDP001'     , 1 ,
                    'SSDP002'     , 'GOCART'      , 'SSDP002'     , 1 ,
                    'SSDP003'     , 'GOCART'      , 'SSDP003'     , 1 ,
                    'SSDP004'     , 'GOCART'      , 'SSDP004'     , 1 ,
                    'SSDP005'     , 'GOCART'      , 'SSDP005'     , 1 ,
                    'SSWT001'     , 'GOCART'      , 'SSWT001'     , 1 ,
                    'SSWT002'     , 'GOCART'      , 'SSWT002'     , 1 ,
                    'SSWT003'     , 'GOCART'      , 'SSWT003'     , 1 ,
                    'SSWT004'     , 'GOCART'      , 'SSWT004'     , 1 ,
                    'SSWT005'     , 'GOCART'      , 'SSWT005'     , 1 ,
                    'SSSV001'     , 'GOCART'      , 'SSSV001'     , 1 ,
                    'SSSV002'     , 'GOCART'      , 'SSSV002'     , 1 ,
                    'SSSV003'     , 'GOCART'      , 'SSSV003'     , 1 ,
                    'SSSV004'     , 'GOCART'      , 'SSSV004'     , 1 ,
                    'SSSV005'     , 'GOCART'      , 'SSSV005'     , 1 ,
                    'SSSMASS'     , 'GOCART'      , 'SSSMASS'     , 1 ,
                    'SSCMASS'     , 'GOCART'      , 'SSCMASS'     , 1 ,
                    'SSEXTTAU'    , 'GOCART'      , 'SSEXTTAU'    , 1 ,
                    'SSSCATAU'    , 'GOCART'      , 'SSSCATAU'    , 1 ,
                    'SSANGSTR'    , 'GOCART'      , 'SSANGSTR'    , 1 ,
                    'SSEXTTFM'    , 'GOCART'      , 'SSEXTTFM'    , 1 ,
                    'SSSCATFM'    , 'GOCART'      , 'SSSCATFM'    , 1 ,
                    'SSSMASS25'   , 'GOCART'      , 'SSSMASS25'   , 1 ,
                    'SSCMASS25'   , 'GOCART'      , 'SSCMASS25'   , 1 ,
                    'SSEXTT25'    , 'GOCART'      , 'SSEXTT25'    , 1 ,
                    'SSSCAT25'    , 'GOCART'      , 'SSSCAT25'    , 1 ,
                    'SSAERIDX'    , 'GOCART'      , 'SSAERIDX'    , 1 ,
                    'SSFLUXU'     , 'GOCART'      , 'SSFLUXU'     , 1 ,
                    'SSFLUXV'     , 'GOCART'      , 'SSFLUXV'     , 1 ,
                    'SUEM001'     , 'GOCART'      , 'SUEM001'     , 1 ,
                    'SUEM002'     , 'GOCART'      , 'SUEM002'     , 1 ,
                    'SUEM003'     , 'GOCART'      , 'SUEM003'     , 1 ,
                    'SUEM004'     , 'GOCART'      , 'SUEM004'     , 1 ,
                    'SUDP001'     , 'GOCART'      , 'SUDP001'     , 1 ,
                    'SUDP002'     , 'GOCART'      , 'SUDP002'     , 1 ,
                    'SUDP003'     , 'GOCART'      , 'SUDP003'     , 1 ,
                    'SUDP004'     , 'GOCART'      , 'SUDP004'     , 1 ,
                    'SUWT001'     , 'GOCART'      , 'SUWT001'     , 1 ,
                    'SUWT002'     , 'GOCART'      , 'SUWT002'     , 1 ,
                    'SUWT003'     , 'GOCART'      , 'SUWT003'     , 1 ,
                    'SUWT004'     , 'GOCART'      , 'SUWT004'     , 1 ,
                    'SUSV001'     , 'GOCART'      , 'SUSV001'     , 1 ,
                    'SUSV002'     , 'GOCART'      , 'SUSV002'     , 1 ,
                    'SUSV003'     , 'GOCART'      , 'SUSV003'     , 1 ,
                    'SUSV004'     , 'GOCART'      , 'SUSV004'     , 1 ,
                    'SO2SMASS'    , 'GOCART'      , 'SO2SMASS'    , 1 ,
                    'SO2CMASS'    , 'GOCART'      , 'SO2CMASS'    , 1 ,
                    'SO4SMASS'    , 'GOCART'      , 'SO4SMASS'    , 1 ,
                    'SO4CMASS'    , 'GOCART'      , 'SO4CMASS'    , 1 ,
                    'DMSSMASS'    , 'GOCART'      , 'DMSSMASS'    , 1 ,
                    'DMSCMASS'    , 'GOCART'      , 'DMSCMASS'    , 1 ,
                    'SUPSO2'      , 'GOCART'      , 'SUPSO2'      , 1 ,
                    'SUPSO4G'     , 'GOCART'      , 'SUPSO4G'     , 1 ,
                    'SUPSO4AQ'    , 'GOCART'      , 'SUPSO4AQ'    , 1 ,
                    'SUPSO4WT'    , 'GOCART'      , 'SUPSO4WT'    , 1 ,
                    'SUPMSA'      , 'GOCART'      , 'SUPMSA'      , 1 ,
                    'SUEXTTAU'    , 'GOCART'      , 'SUEXTTAU'    , 1 ,
                    'SUSCATAU'    , 'GOCART'      , 'SUSCATAU'    , 1 ,
                    'SUANGSTR'    , 'GOCART'      , 'SUANGSTR'    , 1 ,
                    'SO4EMAN'     , 'GOCART'      , 'SO4EMAN'     , 1 ,
                    'SO2EMAN'     , 'GOCART'      , 'SO2EMAN'     , 1 ,
                    'SO2EMBB'     , 'GOCART'      , 'SO2EMBB'     , 1 ,
                    'SO2EMVN'     , 'GOCART'      , 'SO2EMVN'     , 1 ,
                    'SO2EMVE'     , 'GOCART'      , 'SO2EMVE'     , 1 ,
                    'SUFLUXU'     , 'GOCART'      , 'SUFLUXU'     , 1 ,
                    'SUFLUXV'     , 'GOCART'      , 'SUFLUXV'     , 1 ,
                    'BCEM001'     , 'GOCART'      , 'BCEM001'     , 1 ,
                    'BCEM002'     , 'GOCART'      , 'BCEM002'     , 1 ,
                    'BCDP001'     , 'GOCART'      , 'BCDP001'     , 1 ,
                    'BCDP002'     , 'GOCART'      , 'BCDP002'     , 1 ,
                    'BCWT001'     , 'GOCART'      , 'BCWT001'     , 1 ,
                    'BCWT002'     , 'GOCART'      , 'BCWT002'     , 1 ,
                    'BCSV001'     , 'GOCART'      , 'BCSV001'     , 1 ,
                    'BCSV002'     , 'GOCART'      , 'BCSV002'     , 1 ,
                    'BCSMASS'     , 'GOCART'      , 'BCSMASS'     , 1 ,
                    'BCCMASS'     , 'GOCART'      , 'BCCMASS'     , 1 ,
                    'BCEXTTAU'    , 'GOCART'      , 'BCEXTTAU'    , 1 ,
                    'BCSCATAU'    , 'GOCART'      , 'BCSCATAU'    , 1 ,
                    'BCANGSTR'    , 'GOCART'      , 'BCANGSTR'    , 1 ,
                    'BCHYPHIL'    , 'GOCART'      , 'BCHYPHIL'    , 1 ,
                    'BCEMBB'      , 'GOCART'      , 'BCEMBB'      , 1 ,
                    'BCEMBF'      , 'GOCART'      , 'BCEMBF'      , 1 ,
                    'BCEMAN'      , 'GOCART'      , 'BCEMAN'      , 1 ,
                    'BCFLUXU'     , 'GOCART'      , 'BCFLUXU'     , 1 ,
                    'BCFLUXV'     , 'GOCART'      , 'BCFLUXV'     , 1 ,
                    'OCEM001'     , 'GOCART'      , 'OCEM001'     , 1 ,
                    'OCEM002'     , 'GOCART'      , 'OCEM002'     , 1 ,
                    'OCDP001'     , 'GOCART'      , 'OCDP001'     , 1 ,
                    'OCDP002'     , 'GOCART'      , 'OCDP002'     , 1 ,
                    'OCWT001'     , 'GOCART'      , 'OCWT001'     , 1 ,
                    'OCWT002'     , 'GOCART'      , 'OCWT002'     , 1 ,
                    'OCSV001'     , 'GOCART'      , 'OCSV001'     , 1 ,
                    'OCSV002'     , 'GOCART'      , 'OCSV002'     , 1 ,
                    'OCSMASS'     , 'GOCART'      , 'OCSMASS'     , 1 ,
                    'OCCMASS'     , 'GOCART'      , 'OCCMASS'     , 1 ,
                    'OCEXTTAU'    , 'GOCART'      , 'OCEXTTAU'    , 1 ,
                    'OCSCATAU'    , 'GOCART'      , 'OCSCATAU'    , 1 ,
                    'OCANGSTR'    , 'GOCART'      , 'OCANGSTR'    , 1 ,
                    'OCEMBB'      , 'GOCART'      , 'OCEMBB'      , 1 ,
                    'OCEMBF'      , 'GOCART'      , 'OCEMBF'      , 1 ,
                    'OCEMAN'      , 'GOCART'      , 'OCEMAN'      , 1 ,
                    'OCEMBG'      , 'GOCART'      , 'OCEMBG'      , 1 ,
                    'OCHYPHIL'    , 'GOCART'      , 'OCHYPHIL'    , 1 ,
                    'OCFLUXU'     , 'GOCART'      , 'OCFLUXU'     , 1 ,
                    'OCFLUXV'     , 'GOCART'      , 'OCFLUXV'     , 1 ,
                    ::   

        filename:   'VERIFICATION/dR_MERRA-AA-r2/inst3d_aer_v_monthly.ddf'
        filetype:   'HDF'
        fields:     'GOCART::du001',    'GOCART'  , 'du001'     , 1 ,
                    'GOCART::du002',    'GOCART'  , 'du002'     , 1 ,
                    'GOCART::du003',    'GOCART'  , 'du003'     , 1 ,
                    'GOCART::du004',    'GOCART'  , 'du004'     , 1 ,
                    'GOCART::du005',    'GOCART'  , 'du005'     , 1 ,
                    'GOCART::ss001',    'GOCART'  , 'ss001'     , 1 ,
                    'GOCART::ss002',    'GOCART'  , 'ss002'     , 1 ,
                    'GOCART::ss003',    'GOCART'  , 'ss003'     , 1 ,
                    'GOCART::ss004',    'GOCART'  , 'ss004'     , 1 ,
                    'GOCART::ss005',    'GOCART'  , 'ss005'     , 1 ,
                    'GOCART::DMS',      'GOCART'  , 'DMS'       , 1 ,
                    'GOCART::SO2',      'GOCART'  , 'SO2'       , 1 ,
                    'GOCART::SO4',      'GOCART'  , 'SO4'       , 1 ,
                    'GOCART::MSA',      'GOCART'  , 'MSA'       , 1 ,
                    'GOCART::BCphobic', 'GOCART'  , 'BCphobic'  , 1 ,
                    'GOCART::BCphilic', 'GOCART'  , 'BCphilic'  , 1 ,
                    'GOCART::OCphobic', 'GOCART'  , 'OCphobic'  , 1 ,
                    'GOCART::OCphilic', 'GOCART'  , 'OCphilic'  , 1 ,
                    ::

        filename:   'VERIFICATION/dR_MERRA-AA-r2/inst2d_force_x_monthly.ddf'
        filetype:   'HDF'
        fields:     'OLA'	      , 'IRRAD'	      ,  'olr_clr_na'        , 1 ,
		    'OLC'	      , 'IRRAD'	      ,  'olr_clr'	     , 1 ,
		    'FLNSA'           , 'IRRAD'	      ,  'lw_sfc_clr_na'     , 1 ,
		    'FLNSC'	      , 'IRRAD'	      ,  'lw_sfc_clr'        , 1 ,
		    'LAS'	      , 'IRRAD'	      ,	 'lwdn_sfc_clr_na'   , 1 ,
         	    'LCS'	      , 'IRRAD'	      ,  'lwdn_sfc_clr'      , 1 ,
		    'RSCNA'	      , 'SOLAR'	      ,  'sw_toa_clr_na'     , 1 ,
		    'RSC'	      , 'SOLAR'	      ,  'sw_toa_clr'	     , 1 ,
		    'RSRNA'	      , 'SOLAR'	      ,  'sw_toa_na'	     , 1 ,
		    'RSR'	      , 'SOLAR'	      ,  'sw_toa'	     , 1 ,
		    'OSR'	      , 'SOLAR'	      ,  'swup_toa'	     , 1 ,
 		    'OSRNA'           , 'SOLAR'       ,  'swup_toa_na'       , 1 ,
		    'OSRCNA'          , 'SOLAR'       ,  'swup_toa_clr_na'   , 1 , 
		    'RSCSNA'	      , 'SOLAR'	      ,  'sw_sfc_clr_na'     , 1 ,
		    'RSCS'	      , 'SOLAR'	      ,  'sw_sfc_clr'	     , 1 ,
		    'RSRSNA'	      , 'SOLAR'	      ,	 'sw_sfc_na'	     , 1 ,
		    'RSRS'	      , 'SOLAR'	      ,  'sw_sfc'	     , 1 ,
		    'SLRSFC'	      , 'SOLAR'	      ,  'swdn_sfc_clr'	     , 1 ,
		    'SLRSF'	      , 'SOLAR'	      ,  'swdn_sfc'	     , 1 ,
		    'SLRSFCNA'        , 'SOLAR'       ,  'swdn_sfc_clr_na'   , 1 ,
		    'SLRSFNA'         , 'SOLAR'       ,  'swdn_sfc_na'       , 1 ,
	            'SLRSUF'          , 'SOLAR'       ,  'swup_sfc'          , 1 ,
		    'SLRSUFNA'        , 'SOLAR'       ,  'swup_sfc_na'       , 1 ,
		    'SLRSUFC'         , 'SOLAR'       ,  'swup_sfc_clr'      , 1 ,
		    'SLRSUFCNA'       , 'SOLAR'       ,  'swup_sfc_clr_na'   , 1 ,
	            ::

