
OBSNAM: ceresg4
OBSDSC: CERES_(GEOS4-DAS)_Processing

        filename:   'VERIFICATION/GEOS4_CERES.NCDF3/tsyn3d_mis_p/tsyn3d_mis_p.template.ddf'
        filetype:   'HDF'
        fields:     'ZLE'      , 'DYN'           , 'HGHT'    , 1
                    'T'        , 'DYN'           , 'TMPU'    , 1
                    'U'        , 'DYN'           , 'UWND'    , 1
                    'V'        , 'DYN'           , 'VWND'    , 1
                    'RH2'      , 'MOIST'         , 'RH'      , 0.01
                    'Q'        , 'MOIST'         , 'SPHU'    , 1
                    'DUM'      , 'DYN'           , 'DUM'     , 1
                    ::
