GEOS-CHEM SIMULATION v9-02o: 1-month NOx-Ox-HC-Aerosol benchmark w/ GEOS-5
------------------------+------------------------------------------------------
%%% SIMULATION MENU %%% :
Start YYYYMMDD, HHMMSS  : 20050701 000000
End   YYYYMMDD, HHMMSS  : 20050701 020000
Run directory           : ./
Input restart file      : restart.geos5.YYYYMMDDhh
Make new restart file?  : T
Output restart file(s)  : restart.geos5.YYYYMMDDhh
Root data directory     : /as/data/geos/GEOS_4x5/
 => GCAP       subdir   : AGRID/YYYY/MM/
 => GEOS-4     subdir   : GEOS_4_v4/YYYY/MM/
 => GEOS-5     subdir   : GEOS_5/YYYY/MM/
 => GEOS-5.7.x subdir   : GEOS_5.7/YYYY/MM/
 => MERRA      subdir   : MERRA/YYYY/MM/
Dir w/ 1x1 emissions etc: /as/data/geos/GEOS_1x1/
Temporary directory     : ./
Unzip met fields?       : F
Wait for met fields?    : F
Use variable tropopause?: T
Global offsets I0, J0   : 0 0
------------------------+------------------------------------------------------
%%% TRACER MENU %%%     : 
Type of simulation      : 3
Number of Tracers       : 66
Tracer Entries -------> : TR#   Name  g/mole   Tracer Members; () = emitted 
Tracer #1               :   1   NO      30.0   (NO)
Tracer #2               :   2   O3      48.0   (O3)
Tracer #3               :   3   PAN    121.0
Tracer #4               :   4   CO      28.0   (CO)
Tracer #5               :   5   ALK4    12.0   (4C)
Tracer #6               :   6   ISOP    12.0   (5C)
Tracer #7               :   7   HNO3    63.0   (HNO3)
Tracer #8               :   8   H2O2    34.0
Tracer #9               :   9   ACET    12.0   (3C)
Tracer #10              :  10   MEK     12.0   (4C)
Tracer #11              :  11   ALD2    12.0   (2C)
Tracer #12              :  12   RCHO    58.0
Tracer #13              :  13   MVK     70.0
Tracer #14              :  14   MACR    70.0
Tracer #15              :  15   PMN    147.0
Tracer #16              :  16   PPN    135.0
Tracer #17              :  17   R4N2   119.0
Tracer #18              :  18   PRPE    12.0   (3C)
Tracer #19              :  19   C3H8    12.0   (3C)
Tracer #20              :  20   CH2O    30.0   (CH2O)
Tracer #21              :  21   C2H6    12.0   (2C)
Tracer #22              :  22   N2O5   105.0
Tracer #23              :  23   HNO4    79.0
Tracer #24              :  24   MP      48.0
Tracer #25              :  25   DMS     62.0
Tracer #26              :  26   SO2     64.0
Tracer #27              :  27   SO4     96.0
Tracer #28              :  28   SO4s    96.0
Tracer #29              :  29   MSA     96.0
Tracer #30              :  30   NH3     17.0
Tracer #31              :  31   NH4     18.0
Tracer #32              :  32   NIT     62.0
Tracer #33              :  33   NITs    62.0
Tracer #34              :  34   BCPI    12.0
Tracer #35              :  35   OCPI    12.0
Tracer #36              :  36   BCPO    12.0
Tracer #37              :  37   OCPO    12.0
Tracer #38              :  38   DST1    29.0
Tracer #39              :  39   DST2    29.0
Tracer #40              :  40   DST3    29.0
Tracer #41              :  41   DST4    29.0
Tracer #42              :  42   SALA    36.0
Tracer #43              :  43   SALC    36.0
Tracer #44              :  44   Br2    160.0   (Br2)
Tracer #45              :  45   Br      80.0
Tracer #46              :  46   BrO     96.0
Tracer #47              :  47   HOBr    97.0
Tracer #48              :  48   HBr     81.0
Tracer #49              :  49   BrNO2  126.0
Tracer #50              :  50   BrNO3  142.0
Tracer #51              :  51   CHBr3  253.0   (CHBr3)
Tracer #52              :  52   CH2Br2 174.0   (CH2Br2)
Tracer #53              :  53   CH3Br   95.0
Tracer #54              :  54   MPN     93.0
Tracer #55              :  55   ISOPN  147.0   ISOPND ISOPNB
Tracer #56              :  56   MOBA   114.0
Tracer #57              :  57   PROPNN 109.0   PROPNN
Tracer #58              :  58   HAC     74.0 
Tracer #59              :  59   GLYC    60.0 
Tracer #60              :  60   MMN    149.0   MVKN MACRN
Tracer #61              :  61   RIP    118.0
Tracer #62              :  62   IEPOX  118.0
Tracer #63              :  63   MAP     76.0
Tracer #64              :  64   NO2     46.0
Tracer #65              :  65   NO3     62.0
Tracer #66              :  66   HNO2    47.0
------------------------+------------------------------------------------------
%%% TRANSPORT MENU %%%  :
Turn on Transport       : T
 => Use Flux Correction?: F
 => Fill Negative Values: T 
 => IORD, JORD, KORD    : 3  3  7
Transport Timestep [min]: 30   
------------------------+------------------------------------------------------
%%% CONVECTION MENU %%% :
Turn on Cloud Conv?     : T
Turn on PBL Mixing?     : T
 => Use non-local PBL?  : T
Convect Timestep (min)  : 30
------------------------+------------------------------------------------------
%%% EMISSIONS MENU %%%  :
Turn on emissions?      : T
Emiss timestep (min)    : 60
Include anthro emiss?   : T
 => Scale to (1985-2005): -1
 => Use EMEP emissions? : T
 => Use BRAVO emissions?: T
 => Use EDGAR emissions?: T
 => Use STREETS emiss?  : T
 => Use CAC emissions?  : T
 => Use NEI2005 emiss?  : T
 => Use RETRO emiss?    : T
 => Use AEIC emissions? : T
Use RCP emiss (anth+bf)?: F
    => RCP scenario?    : RCP60
    => RCP year?        : 2000
Use EPA/NEI99 (anth+bf)?: F
    w/ ICARTT modif.?   : F
    w/ VISTAS NOx emis? : F
Include biofuel emiss?  : T
Include biogenic emiss? : T
 => Use MEGAN inventory?: T
 => Use PCEEA model?    : F
 => Use MEGAN for MONO? : T
 => Isoprene scaling    : 1
Include biomass emiss?  : T
 => Seasonal biomass?   : T
 => Scaled to TOMSAI?   : F
 => Use GFED2 biomass?  :---
    => monthly GFED2?   : F
    => 8-day GFED2?     : F 
    => 3-hr GFED2?      : F
    => synoptic GFED2?  : F
 => Use GFED3 biomass?  :---
    => monthly GFED3?   : T 
    => daily GFED3?     : F 
    => 3-hr GFED3?      : F
Individual NOx sources  :---
 => Use RCP aircraft NOx: F
 => Use lightning NOx?  : T
    => Spat-seas constr?: T
 => Use soil NOx        : T
    => soilNOx rst file?: restart.soilnox.YYYYMMDDhh
 => Use fertilizer NOx  : T
NOx scaling             : 1
Use ship SO2 emissions? :---
 => global EDGAR ?      : T
 => global ICOADS ?     : T
 => global RCP ?        : F
 => EMEP over EUROPE ?  : T
 => ship SO2 Corbett ?  : F
 => ship SO2 Arctas ?   : T
Use COOKE BC/OC (N. Am.): F   
Use AVHRR-derived LAI?  : F
Use MODIS-derived LAI?  : T
Use historical emiss?   : F
 => What decade?        : 2000
Bromine switches        :---
 => Use Warwick VSLS?   : T
 => Use seasalt Br2?    : T
 => 1ppt MBL BRO Sim.?  : F
 => Bromine scaling     : 1
------------------------+------------------------------------------------------
%%% AEROSOL MENU %%%    :
Online SULFATE AEROSOLS : T
Online CRYST/AQ AEROSOLS: F
Online CARBON  AEROSOLS : T
Online 2dy ORG AEROSOLS : F
 => Semivolatile POA?   : F
 => NAP emiss (TgC/yr)  : 1.0
 => POA emission scale  : 1.27
Online DUST    AEROSOLS : T
 => Use DEAD emissions? : T
Online SEASALT AEROSOLS : T
 -- SALA radius bin [um]: 0.01 0.5
 -- SALC radius bin [um]: 0.5  8.0
Online dicarb. chem.    : F
------------------------+------------------------------------------------------
%%% DEPOSITION MENU %%% :
Turn on Dry Deposition? : F
Turn on Wet Deposition? : F
------------------------+------------------------------------------------------
%%% CHEMISTRY MENU %%%  : 
Turn on Chemistry?      : T
Use linear. strat. chem?: T
 => Use Linoz for O3?   : T
Chemistry Timestep [min]: 60
Read and save CSPEC_FULL: F
 => CSPEC rst filename? : restart.cspec.YYYYMMDDhh
USE solver coded by KPP : T
Gamma HO2               : 0.2
-----------------------+------------------------------------------------------
%%% OUTPUT MENU %%%     : 123456789.123456789.123456789.1--1=ZERO+2=BPCH 
Schedule output for JAN : 3000000000000000000000000000000
Schedule output for FEB : 30000000000000000000000000000  
Schedule output for MAR : 3000000000000000000000000000000
Schedule output for APR : 300000000000000000000000000000
Schedule output for MAY : 3000000000000000000000000000000
Schedule output for JUN : 300000000000000000000000000000
Schedule output for JUL : 3000000000000000000000000000000
Schedule output for AUG : 3000000000000000000000000000000
Schedule output for SEP : 300000000000000000000000000000
Schedule output for OCT : 3000000000000000000000000000000
Schedule output for NOV : 300000000000000000000000000000
Schedule output for DEC : 3000000000000000000000000000000
------------------------+------------------------------------------------------
%%% GAMAP MENU %%%      :
diaginfo.dat path       : diaginfo.dat
tracerinfo.dat path     : tracerinfo.dat
------------------------+------------------------------------------------------
%%% DIAGNOSTIC MENU %%% : 
Binary punch file name  : ctm.bpch
Diagnostic Entries ---> :  L   Tracers to print out for each diagnostic
ND01: Rn/Pb/Be source   :  0   all        
ND02: Rn/Pb/Be decay    :  0   all             
ND03: Hg emissions, P/L :  0   all                
ND04: CO2 Sources       :  0   all                
ND05: Sulfate prod/loss :  0   all               
ND06: Dust aer source   :  1   all                
ND07: Carbon aer source : 47   all                
ND08: Seasalt aer source:  1   all                
ND09: -                 :  0   all                
ND10: -                 :  0   all                
ND11: Acetone sources   :  1   all                 
ND12: BL fraction       :  0   all              
ND13: Sulfur sources    : 47   all                
ND14: Cld conv mass flx :  0   all                
ND15: BL mix mass flx   :  0   all                
ND16: LS/Conv prec frac :  0   all               
ND17: Rainout fraction  :  0   all            
ND18: Washout fraction  :  0   all            
ND19: CH4 loss          :  0   all            
ND21: Optical depths    : 47   all            
ND22: J-Values          :  0   all
      => JV time range  :      11 13
ND24: E/W transpt flx   :  0   all
ND25: N/S transpt flx   :  0   all
ND26: U/D transpt flx   :  0   all
ND27: Strat NOx,Ox,HNO3 :  0   1 2 7
ND28: Biomass emissions :  1   1 4 5 9 10 11 18 19 20 21 26 30 34 35
ND29: CO sources        :  1   all
ND30: Land Map          :  0   all
ND31: Surface pressure  : 48   all
ND32: NOx sources       :  1   all
ND33: Column tracer     :  0   all
ND34: Biofuel emissions :  1   1 4 5 9 10 11 18 19 20 21
ND35: Tracers at 500 mb :  0   all
ND36: Anthro emissions  :  1   1 4 5 9 10 11 18 19 20 21
ND37: Updraft scav frac :  0   all
ND38: Cld Conv scav loss: 47   all
ND39: Wetdep scav loss  : 47   all
ND41: Afternoon PBL ht  :  0   all
ND42: SOA concentrations:  0   all
ND43: Chem OH,NO,HO2,NO2: 47   all
  ==> OH/HO2 time range :       0 24   
  ==> NO/NO2 time range :      10 14
ND44: Drydep flx/vel    :  1   2 3 7 8 15 16 17 20 22 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 47 48 50 64
ND45: Tracer Conc's     : 47   all 
  ==> ND45 Time range   :       0 24
ND46: Biogenic emissions:  1   all
ND47: 24-h avg trc conc :  0   all
ND52: GAMMA HO2         :  0   all
ND53: POPs Emissions    :  0   all
ND54: Time in t'sphere  : 47   all
ND55: Tropopause height : 47   all
ND56: Lightning flashes :  0   all
ND57: Potential T       :  0   all
ND58: CH4 Emissions     :  0   all
ND59: -                 :  0   all
ND60: Wetland Frac      :  0   all
ND61: -                 :  0   all
ND62: Inst column maps  :  0   all
ND64: -                 :  0   all
ND66: DAO 3-D fields    : 47   all
ND67: DAO 2-D fields    : 47   all
ND68: Airmass/Boxheight : 47   all
ND69: Surface area      :  1   all
ND70: Debug output      :  0   all
------------------------+------------------------------------------------------
%%% PLANEFLIGHT MENU %%%:
Turn on plane flt diag? : F
Flight track info file  : Planeflight.dat.YYYYMMDD
Output file name        : plane.log.YYYYMMDD
------------------------+------------------------------------------------------
%%% ND48 MENU %%%       :
Turn on ND48 stations   : F
Station Timeseries file : stations.YYYYMMDD
Frequency [min]         :  60
Number of stations      :   0
------------------------+------------------------------------------------------
%%% ND49 MENU %%%       :
Turn on ND49 diagnostic : F
Inst 3-D timeser. file  : tsYYYYMMDD.bpch
Tracers to include      : 94 
Frequency [min]         : 120
IMIN, IMAX of region    :  70  30
JMIN, JMAX of region    :  23  46
LMIN, LMAX of region    :   1   1
-------------------------------------------------------------------------------
%%% ND50 MENU %%%       :
Turn on ND50 diagnostic : F
24-hr avg timeser. file : ts_24h_avg.YYYYMMDD.bpch
Output as HDF           : F
Tracers to include      : 82 83 84 85 86 87
IMIN, IMAX of region    :   1  72
JMIN, JMAX of region    :   1  46
LMIN, LMAX of region    :   1   1
-------------------------------------------------------------------------------
%%% ND51 MENU %%%       :
Turn on ND51 diagnostic : F
LT avg timeseries file  : ts_satellite.YYYYMMDD.bpch
Output as HDF           : F
Tracers to include      : 82 83 84 85 86 87
GMT Hour for disk write :   0
Avg Period [LT hours]   :  10  12
IMIN, IMAX of region    :   1 151
JMIN, JMAX of region    :   1 121
LMIN, LMAX of region    :   1  40
-------------------------------------------------------------------------------
%%% ND51b MENU %%%      :
Turn on ND51b diagnstic : F
LT avg timeseries file  : ts_13_15.NA.YYYYMMDD.h5
Output as HDF5?         : F
Tracers to include      : 1 4 20 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 60 61 62 63 64 65 66 72 73 75 82 83 84 85 86 87 93 94 98 99
GMT Hour for disk write :  1
Avg Period [LT hours]   :  13  15
IMIN, IMAX of region    :   1  72
JMIN, JMAX of region    :   1  46
LMIN, LMAX of region    :   1   1
------------------------+------------------------------------------------------
%%% ND63 MENU %%%       :
Turn on ND63 diagnostic : F
Inst 3-D timeser. file  : paranox_ts.YYYYMMDD.bpch
Tracers to include      : 1
Frequency [min]         : 120
IMIN, IMAX of region    :  70  30
JMIN, JMAX of region    :  23  46
-------------------------------------------------------------------------------
%%% PROD & LOSS MENU %%%:
Turn on P/L (ND65) diag?: F
# of levels for ND65    : 47
Save O3 P/L (ND20)?     : F
Number of P/L families  : 7
1st  chemical family    : POX: O3 NO2 2NO3 PAN PMN PPN HNO4 3N2O5 HNO3 BrO HOBr BrNO2 2BrNO3 MPN
2nd  chemical family    : LOX: O3 NO2 2NO3 PAN PMN PPN HNO4 3N2O5 HNO3 BrO HOBr BrNO2 2BrNO3 MPN
3rd  chemical family    : PCO: CO
4th  chemical family    : LCO: CO
5th  chemical family    : PBrOx: Br BrO
6th  chemical family    : PBry: 2Br2 Br BrO HOBr HBr BrNO2 BrNO3
7th  chemical family    : LBry: 2Br2 Br BrO HOBr HBr BrNO2 BrNO3
------------------------+------------------------------------------------------
%%% ARCHIVED OH MENU %%%: 
Dir w/ archived OH files: /as/data/geos/GEOS_MEAN/OHmerge/v5-07-08/
------------------------+------------------------------------------------------
%%% O3 P/L MENU %%%     : 
Dir w/ O3 P/L rate files: /as/data/geos/GEOS_MEAN/O3_PROD_LOSS/2003.v6-01-05/
------------------------+------------------------------------------------------
%%% BENCHMARK MENU %%%  :  
Save benchmark output?  : T
File w/ initial Ox      : Ox.mass.initial
File w/ final Ox        : Ox.mass.final
------------------------+------------------------------------------------------
%%% NESTED GRID MENU %%%:  
Save TPCORE BC's        : F
Input BCs at 2x2.5?     : F
Over North America?     : F
TPCORE NA BC directory  : BC_2x25_NA/
Over Europe?            : F
TPCORE EU BC directory  : BC_2x25_EU/
Over China?             : F
TPCORE CH BC directory  : BC_2x25_CH/
Over SEAC4RS region?    : F
TPCORE SEAC4RS BC dir   : BC_2x25_SEAC4RS/
Over Custom Region?     : F
TPCORE BC directory     : BC_2x25/
BC timestep [min]       : 180
LL box of BC region     :   9  26
UR box of BC region     :  29  41
1x1 offsets I0_W, J0_W  :   3   3
------------------------+------------------------------------------------------
%%% UNIX CMDS MENU %%%  : 
Background symbol       : & 
Redirect symbol         :  >
Unix remove command     : rm -f
Unix pathname separator : /
Unix wildcard character : *
Unix unzip command      : gzip -dc
Zip file suffix         : .gz
------------------------+------------------------------------------------------
END OF FILE             :
------------------------+------------------------------------------------------
