#
# This the GEOS-CHEM Grid Component Registry. It defines Import,
# Internal and Export states for this component as well as
# any
#
# !REVISION HISTORY:
#  16Aug2006  da Silva   First Version
#  30Jun2012  Nielsen    For Ganymed
#  10Oct2012  Yantosca   Updated for GEOS-Chem v9-01-03, which has new
#                        Bromine compounds as advected tracers & species
#  25Sep2013  Keller     Updated for GEOS-Chem v9-02l (NOx and Ox not lumped anymore, Isoprene                         update)
# -----------------------------------------------------------------

  COMP_NAME: GEOSCHEMCHEM

# Only change the Registry version when major structural changes
# occurs, not changes in content
# --------------------------------------------------------------
  MAPL_REGISTRY_VERSION: 1.00

#				------------
#				Import State
#				------------

<ImportSpec name="GEOSCHEMCHEM", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,default,norestart,long_name">
# -------------------|-------------|-----|---|----|---|---|-----|------|----|--------------------------
#  Short	     |  	   |	 | V |Item|Intervl| Sub | Def  | No |	Long
#  Name 	     |   Units     | Dim |Loc|Type| R | A |Tiles| ault | Rst|	Name
# -------------------|-------------|-----|---|----|---|---|-----|------|----|--------------------------
  ALBVF              |     1	   | xy  |   |    |   |   |	|      |    | surface_albedo_for_visible_diffuse
  AREA               |     m2	   | xy  |   |    |   |   |	|      |    | agrid_cell_area
  CLDTT              |     1	   | xy  |   |    |   |   |	|      |    | total_cloud_area_fraction
  FRLAND             |     1	   | xy  |   |    |   |   |	|      |    | fraction_of_land
  FROCEAN            |     1	   | xy  |   |    |   |   |	|      |    | fraction_of_ocean
  FRLAKE             |     1	   | xy  |   |    |   |   |	|      |    | fraction_of_lake
  FRLANDICE          |     1	   | xy  |   |    |   |   |	|      |    | fraction_of_land_ice
  ASNOW              |     1	   | xy  |   |    |   |   |	|      |    | fractional_area_of_land_snowcover
  WET1               |     1	   | xy  |   |    |   |   |	|      |    | surface_soil_wetness
  WET2               |     1	   | xy  |   |    |   |   |	|      |    | root_soil_wetness
  SH                 |    W/m2     | xy  |   |    |   |   |	|      |    | sensible_heat_flux_from_turbulence
  LHFX               |    W/m2     | xy  |   |    |   |   |	|      |    | latent_heat_flux_from_turbulence 
  LWI                |     1	   | xy  |   |    |   |   |	|      |    | land-ocean-ice_mask
  LAI                |     1	   | xy  |   |    |   |   |	|      |    | leaf area index
  ITY                |     1	   | xy  |   |    |   |   |	|      |    | land type index
  DRPAR              |    W/m2     | xy  |   |    |   |   |	|      |    | surface_downwelling_par_beam_flux
  DFPAR              |    W/m2     | xy  |   |    |   |   |	|      |    | surface_downwelling_par_diffuse_flux
  ZPBL               |     m	   | xy  |   |    |   |   |	|      |    | planetary_boundary_layer_height
  PPBL               |     Pa      | xy  |   |    |   |   |	|      |    | pbltop_pressure
  PS                 |     Pa	   | xy  |   |    |   |   |	|      |    | surface_ressure
  SWNDSRF            |    W/m2     | xy  |   |    |   |   |	|      |    | surface_net_downward_shortwave_flux
  SNOMAS             |   kg/m2     | xy  |   |    |   |   |	|      |    | snow_mass
  SNOWDP             |    m        | xy  |   |    |   |   |	|      |    | snow_depth
  TROPP              |    hPa	   | xy  |   |    |   |   |	|      |    | tropopause_pressure_based_on_blended_estimate
  TS                 |     K	   | xy  |   |    |   |   |	|      |    | surface_skin_temperature
  T2M                |     K	   | xy  |   |    |   |   |	|      |    | 2-meter-air_temperature
  T10M               |     K	   | xy  |   |    |   |   |	|      |    | 10-meter-air_temperature
  U10M               |    m/s	   | xy  |   |    |   |   |	|      |    | 10-meter_eastward_wind
  USTAR              |    m/s	   | xy  |   |    |   |   |	|      |    | surface_velocity_scale
  V10M               |    m/s	   | xy  |   |    |   |   |	|      |    | 10-meter_northward_wind
  Z0H                |     m	   | xy  |   |    |   |   |	|      |    | surface_roughness_for_heat
  AIRDENS            |   kg/m3     | xyz | C |    |   |   |	|      |    | air_density
  AIRDENS_DRY        |   kg/m3     | xyz | C |    |   |   |	|      |    | dry_air_density
  ZLE                |     m	   | xyz | E |    |   |   |	|      |    | geopotential_height
  FCLD               |     1	   | xyz | C |    |   |   |	|      |    | cloud_fraction_for_radiation
  CNV_MFC            |  kg/m2/s    | xyz | E |    |   |   |	|      |    | cumulative_mass_flux
  CNV_CVW            |   hPa/s     | xyz | C |    |   |   |	|      |    | updraft_vertical_velocity
  DQIDT              |  kg/kg/s    | xyz | C |    |   |   |	|      |    | total_ice_water_tendency_due_to_moist
  DQLDT              |  kg/kg/s    | xyz | C |    |   |   |	|      |    | total_liq_water_tendency_due_to_moist
  DQDT               |  kg/kg/s    | xyz | C |    |   |   |	|      |    | specific_humidity_tendency_due_to_moist
  DQRL               |  kg/kg/s    | xyz | C |    |   |   |	|      |    | large_scale_rainwater_source 
  PFL_LSAN           |  kg/m2/s    | xyz | E |    |   |   |	|      |    | 3D_flux_of_liquid_nonconvective_precipitation 
  PFI_LSAN           |  kg/m2/s    | xyz | E |    |   |   |	|      |    | 3D_flux_of_ice_nonconvective_precipitation 
  CNV_MFD            |  kg/m2/s    | xyz | C |    |   |   |	|      |    | detraining_mass_flux
  PLE                |     Pa	   | xyz | E |    |   |   |	|      |    | air_pressure_layer_interfaces
  DELP               |     Pa	   | xyz | C |    |   |   |	|      |    | pressure_thickness 
  RH2                |     1	   | xyz | C |    |   |   |	|      |    | Rel_Hum_after_moist
  Q                  |   kg/kg     | xyz | C |    |   |   |	|      |    | specific_humidity
  QITOT              |   kg/kg     | xyz | C |    |   |   |	|      |    | ice mixing ratio
  QLTOT              |   kg/kg     | xyz | C |    |   |   |	|      |    | water mixing ratio
  T                  |     K	   | xyz | C |    |   |   |	|      |    | air_temperature
  TAUCLI             |     1	   | xyz | C |    |   |   |	|      |    | optical_thickness_for_ice_clouds
  TAUCLW             |     1	   | xyz | C |    |   |   |	|      |    | optical_thickness_for_liquid_clouds 
  REV_CN             |  kg/kg/s    | xyz | C |    |   |   |	|      |    | evaporation_of_convective_precipitation
  REV_LS             |  kg/kg/s    | xyz | C |    |   |   |	|      |    | evaporation_of_nonanvil_large_scale_precipitation
  REV_AN             |  kg/kg/s    | xyz | C |    |   |   |	|      |    | evaporation_of_anvil_precipitation
  DQRC               |  kg/kg/s    | xyz | C |    |   |   |	|      |    | convective_rainwater_source 
  PFI_CN             |  kg/m2/s    | xyz | E |    |   |   |	|      |    | 3D_flux_of_ice_convective_precipitation
  PFL_CN             |  kg/m2/s    | xyz | E |    |   |   |	|      |    | 3D_flux_of_liquid_convective_precipitation
  U                  |  ms-1       | xyz | C |    |   |   |     |      |    | eastward_wind 
  V                  |  ms-1       | xyz | C |    |   |   |     |      |    | northward_wind
  OMEGA              |  Pas-1      | xyz | C |    |   |   |     |      |    | vertical_pressure_velocity
  CNV_FRC            |      1      | xy  |   |    |   |   |     |      | x  | convective_fraction 
  BYNCY              |      1      | xyz | C |    |   |   |     |      |    | buoyancy
  LFR                |  s-1km-2    | xy  |   |    |   |   |     |      |    | lightning_flash_rate
  Q10M               |   kg/kg     | xy  |   |    |   |   |	|      |    | 10m_specific_humidity
  Q2M                |   kg/kg     | xy  |   |    |   |   |	|      |    | 2m_specific_humidity
# -------------------|-------------|-----|---|----|---|---|-----|------|----|--------------------------
</ImportSpec>
#				------------
#				Export State
#				------------

<ExportSpec name="GEOSCHEMCHEM", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,long_name">
# --------------------------------|----------------|-----|---|----|---|---|-----|---------------------------------
#  Short	                  |		   |     | V |Item|Intervl| Sub |	     Long
#  Name 	                  |   Units	   | Dim |Loc|Type| R | A |Tiles|	     Name
# --------------------------------|----------------|-----|---|----|---|---|-----|---------------------------------
  OX		                  | mol mol-1      | xyz | C |    |   |   |	| ozone_volume_mixing_ratio
  O3		                  | kg kg-1	   | xyz | C |    |   |   |	| ozone_mass_mixing_ratio
  O3PPMV	                  | ppmv	   | xyz | C |    |   |   |	| ozone_volume_mixing_ratio_in_ppm
  OX_TEND	                  | kg kg-1 s-1    | xyz | C |    |   |   |	| tendency_of_odd_oxygen_mixing_ratio_due_to_chemistry
  H2O_TEND	                  | kg kg-1 s-1    | xyz | C |    |   |   |	| tendency_of_water_vapor_mixing_ratio_due_to_chemistry
  GCCTO3    	                  | dobsons        | xy  |   |    |   |   |	| total_ozone 
  GCCTTO3                         | dobsons        | xy  |   |    |   |   |	| total_tropospheric_ozone 
  SOILNO_PULSE                    | 1              | xy  |   |    |   |   |     | soilnox_pulse 
  LIGHTNING_TOTAL_FLASHRATE       | 1 min-1 km-2   | xy  |   |    |   |   |     | lightning_flashrate
  LIGHTNING_INTRACLOUD_FLASHRATE  | 1 min-1 km-2   | xy  |   |    |   |   |     | lightning_intracloud_flashrate
  LIGHTNING_CLOUDGROUND_FLASHRATE | 1 min-1 km-2   | xy  |   |    |   |   |     | lightning_cloudground_flashrate
  LIGHTNING_TRAD_TOP              | 1              | xy  |   |    |   |   |     | lightning_top_traditional
  LIGHTNING_NOCONV_TOP            | 1              | xy  |   |    |   |   |     | lightning_top_noconvection
  LIGHTNING_MERGED_TOP            | 1              | xy  |   |    |   |   |     | lightning_top_overall
  CHEMTOP                         | 1              | xy  |   |    |   |   |     | chemgrid_top
  CHEM_TROPP                      | Pa             | xy  |   |    |   |   |     | chemistry_tropopause
  AIRMASS                         | kg             | xyz | C |    |   |   |     | mass_of_air
  BOXHEIGHT                       | m              | xyz | C |    |   |   |     | grid_box_height
  CONV_CLDTOP                     | 1              | xy  |   |    |   |   |     | convective_cloud_top
  O3_MASS                         | kg m-2         | xyz | C |    |   |   |     | O3_mass 
  OH_reactivity                   | s-1            | xyz | C |    |   |   |     | OH_reactivity_=_inverse_lifetime
  PM25                            | ug m-3         | xyz | C |    |   |   |     | Particulate_matter_with_diameter_below_2.5_um 
  PM25ni                          | ug m-3         | xyz | C |    |   |   |     | Nitrate_particulate_matter_with_diameter_below_2.5_um 
  PM25su                          | ug m-3         | xyz | C |    |   |   |     | Sulfate_particulate_matter_with_diameter_below_2.5_um 
  PM25ss                          | ug m-3         | xyz | C |    |   |   |     | Seasalt_particulate_matter_with_diameter_below_2.5_um 
  PM25du                          | ug m-3         | xyz | C |    |   |   |     | Dust_particulate_matter_with_diameter_below_2.5_um 
  PM25bc                          | ug m-3         | xyz | C |    |   |   |     | Black_carbon_particulate_matter_with_diameter_below_2.5_um 
  PM25oc                          | ug m-3         | xyz | C |    |   |   |     | Organic_carbon_particulate_matter_with_diameter_below_2.5_um 
  PM25soa                         | ug m-3         | xyz | C |    |   |   |     | SOA_particulate_matter_with_diameter_below_2.5_um
  AOD550_CLOUD                    | 1              | xy  |   |    |   |   |     | cloud_optical_depth
  AOD550_DUST                     | 1              | xy  |   |    |   |   |     | dust_optical_depth_at_550nm
  AOD550_SULFATE                  | 1              | xy  |   |    |   |   |     | sulfate_optical_depth_at_550nm
  AOD550_BC                       | 1              | xy  |   |    |   |   |     | black_carbon_optical_depth_at_550nm
  AOD550_OC                       | 1              | xy  |   |    |   |   |     | organic_carbon_optical_depth_at_550nm
  AOD550_SALA                     | 1              | xy  |   |    |   |   |     | accumulation_mode_sea_salt_optical_depth_at_550nm
  AOD550_SALC                     | 1              | xy  |   |    |   |   |     | coarse_mode_sea_salt_optical_depth_at_550nm
  AOD550_DST1                     | 1              | xy  |   |    |   |   |     | dust_bin1_optical_depth_at_550nm
  AOD550_DST2                     | 1              | xy  |   |    |   |   |     | dust_bin2_optical_depth_at_550nm
  AOD550_DST3                     | 1              | xy  |   |    |   |   |     | dust_bin3_optical_depth_at_550nm
  AOD550_DST4                     | 1              | xy  |   |    |   |   |     | dust_bin4_optical_depth_at_550nm
  AOD550_DST5                     | 1              | xy  |   |    |   |   |     | dust_bin5_optical_depth_at_550nm
  AOD550_DST6                     | 1              | xy  |   |    |   |   |     | dust_bin6_optical_depth_at_550nm
  AOD550_DST7                     | 1              | xy  |   |    |   |   |     | dust_bin7_optical_depth_at_550nm
  NO2_TROPCOLUMN                  | molec cm-2     | xy  |   |    |   |   |     | NO2_tropospheric_column
  NO2_TOTCOLUMN                   | molec cm-2     | xy  |   |    |   |   |     | NO2_total_column
  NO2_PBL_FRAC                    | 1              | xy  |   |    |   |   |     | fraction_surfaceNO2_vs_total_tropNO2
  NO2_sensitivity                 | 1              | xyz | C |    |   |   |     | NO2_sensitivity
  NO_sensitivity                  | 1              | xyz | C |    |   |   |     | NO_sensitivity
  NOy	                          | mol mol-1      | xyz | C |    |   |   |	| reactive_nitrogen_=_NO_NO2_HNO3_HNO4_HONO_2xN2O5_PAN_OrganicNitrates_AerosolNitrates
  DryDepRa2m                      | s cm-1         | xy  |   |    |   |   |     | 2_meter_aerodynamic_resistance 
  DryDepRa10m                     | s cm-1         | xy  |   |    |   |   |     | 10_meter_aerodynamic_resistance 
  MoninObukhov                    | m              | xy  |   |    |   |   |     | Monin_Obukhov_length 
  CH4pseudoFlux                   | kg m-2 s-1     | xy  |   |    |   |   |     | CH4_pseudo_flux_to_balance_chemistry 
  CH4_EMIS_RICE                   | kg m-2 s-1     | xy  |   |    |   |   |     | CH4_emis_rice
  CH4_EMIS_WETLAND                | kg m-2 s-1     | xy  |   |    |   |   |     | CH4_emis_wetland
  GCC_AIRNUMDEN                   | mol cm-3       | xyz | C |    |   |   |     | GEOSCHEMchem_dry_air_density
  GCC_AIRVOL                      | km3            | xyz | C |    |   |   |     | GEOSCHEMchem_box_volume
  LightningPotential              | 1              | xy  |   |    |   |   |     | Lightning_potential 
  AerSurfAreaDust                 | cm2 cm-3       | xyz | C |    |   |   |     | Mineral_dust_surface_area
  AerSurfAreaStratLiquid          | cm2 cm-3       | xyz | C |    |   |   |     | Stratospheric_liquid_aerosol_surface_area
  AerSurfAreaPolarStratCloud      | cm2 cm-3       | xyz | C |    |   |   |     | PSC_cloud_type_surface_area
  AerNumDensityStratLiquid        | # cm-3         | xyz | C |    |   |   |     | Stratospheric_liquid_aerosol_number_density 
  AerNumDensityStratParticulate   | # cm-3         | xyz | C |    |   |   |     | PSC_cloud_type_number_density
  O3concAfterChem                 | molec cm-3     | xyz | C |    |   |   |     | Ozone_number_density_after_chemistry
  RO2concAfterChem                | molec cm-3     | xyz | C |    |   |   |     | Peroxy_radical_number_density_ater_chemistry
  OHconcAfterChem                 | molec cm-3     | xyz | C |    |   |   |     | OH_number_density_after_chemistry
  NOx_tau                         | s              | xyz | C |    |   |   |     | NOx_chemical_lifetime_against_OH
  NO2toNOx                        | 1              | xyz | C |    |   |   |     | NO2toNOx_ratio
  FJX_EXTRAL_NLEVS                | 1              | xy  |   |    |   |   |     | FAST-JX_EXTRAL_layers 
  FJX_EXTRAL_NITER                | 1              | xy  |   |    |   |   |     | FAST-JX_EXTRAL_iterations
# --------------------------------|----------------|-----|---|----|---|---|-----|---------------------------------
</ExportSpec>
#                               --------------
#                               Internal State
#                               --------------
#
# Note: 1) For friendlies, use "D" for dynamics, "T" for turbulence, "C" for convection, "E" for emission, S=self (adds to export); leave blank otherwise
#       2) If quantity requires no restart, put an 'x' in the No Rst column
#       3) RO = Alkoxy radical, RO2 = Organic peroxy radical
<InternalSpec name="GEOSCHEMCHEM", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,default,norestart,halowidth,friendlyto,long_name">
# --------------|-----------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
#  Short        |                 |     | V |Item|Intervl| Sub | Def  | No | Ha | Friends |            Long
#  Name         |   Units         | Dim |Loc|Type| R | A |Tiles| ault | Rst| lo |         |            Name
# --------------|-----------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
 GCCTROPP       |    Pa           | xy  |   |    |   |   |     |      |    |    | S       | tropopause_pressure_used_in_GEOS-Chem
 ARCHV_H2O2s    |   vv-1          | xyz | C |    |   |   |     |      |    |    | S       | soluble_fraction_H2O2
 ARCHV_SO2s     |   vv-1          | xyz | C |    |   |   |     |      |    |    | S       | soluble_fraction_SO2
 HSAVE_FOR_KPP  |   1             | xyz | C |    |   |   |     |      |    |    | S       | HSAVE_for_KPP 
 STATE_PSC      |   1             | xyz | C |    |   |   |     |      |    |    | S       | polar_stratospheric_clouds
 ARCHV_DRY_TOTN | cm-2s-1         | xy  |   |    |   |   |     |      |    |    | S       | dry_deposited_nitrogen
 ARCHV_WET_TOTN | cm-2s-1         | xy  |   |    |   |   |     |      |    |    | S       | wet_deposited_nitrogen
 PFACTOR        | 1               | xy  |   |    |   |   |     |      |    |    | S       | soilnox_pfactor_restart 
 DRYPERIOD      | 1               | xy  |   |    |   |   |     |      |    |    | S       | soilnox_dryperiod_restart
 GWET_PREV      | 1               | xy  |   |    |   |   |     |      |    |    | S       | soilnox_gwet_prev_restart
 DEP_RESERVOIR  | kg m-3          | xy  |   |    |   |   |     |      |    |    | S       | soilnox_dep_reservoir_restart
 T_DAVG         | K               | xy  |   |    |   |   |     |      |    |    | S       | megan_t_davg_restart
 T_PREVDAY      | K               | xy  |   |    |   |   |     |      |    |    | S       | megan_t_prevday_restart
 LAI_PREVDAY    | 1               | xy  |   |    |   |   |     |      |    |    | S       | megan_lai_prevday_restart
 PARDR_DAVG     | Wm-2            | xy  |   |    |   |   |     |      |    |    | S       | megan_pardr_davg_restart
 PARDF_DAVG     | Wm-2            | xy  |   |    |   |   |     |      |    |    | S       | megan_pardf_davg_restart
 SESQ_CARBDENS  | kgCm-3          | xyz | C |    |   |   |     |      |    |    | S       | sesquiterpene_conc_restart
# --------------|-----------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
</InternalSpec>
