#Name        Spec   ExtNr Cat Hier Dim OutUnit  long_name                                                                       UnitName
# 2D -------------------------------------------------------------------------------------------------------------------------------------
EMIS_NO       NO     -1    -1  -1   2   kg/m2/s  nitric_oxide_total_emission_mass_flux                                           kg_m-2_s-1
EMIS_NO_IND   NO      0     1  -1   2   kg/m2/s  nitric_oxide_industry_emission_mass_flux                                        kg_m-2_s-1
EMIS_NO_POW   NO      0     2  -1   2   kg/m2/s  nitric_oxide_power_emission_mass_flux                                           kg_m-2_s-1
EMIS_NO_TRA   NO      0     3  -1   2   kg/m2/s  nitric_oxide_transportation_emission_mass_flux                                  kg_m-2_s-1
EMIS_NO_RES   NO      0     4  -1   2   kg/m2/s  nitric_oxide_residential_emission_mass_flux                                     kg_m-2_s-1
EMIS_NO_BB    NO      0     8  -1   2   kg/m2/s  nitric_oxide_qfed_emission_mass_flux                                            kg_m-2_s-1
EMIS_NO_TRASH NO      0     9  -1   2   kg/m2/s  nitric_oxide_trash_emission_mass_flux                                           kg_m-2_s-1
EMIS_NO_SOIL  NO     104   -1  -1   2   kg/m2/s  nitric_oxide_soil_emission_mass_flux                                            kg_m-2_s-1
EMIS_CO       CO     -1    -1  -1   2   kg/m2/s  carbon_monoxide_total_emission_mass_flux                                        kg_m-2_s-1
EMIS_CO_IND   CO      0     1  -1   2   kg/m2/s  carbon_monoxide_industry_emission_mass_flux                                     kg_m-2_s-1
EMIS_CO_POW   CO      0     2  -1   2   kg/m2/s  carbon_monoxide_power_emission_mass_flux                                        kg_m-2_s-1
EMIS_CO_TRA   CO      0     3  -1   2   kg/m2/s  carbon_monoxide_transportation_emission_mass_flux                               kg_m-2_s-1
EMIS_CO_RES   CO      0     4  -1   2   kg/m2/s  carbon_monoxide_residential_emission_mass_flux                                  kg_m-2_s-1
EMIS_CO_BB    CO      0     8  -1   2   kg/m2/s  carbon_monoxide_qfed_emission_mass_flux                                         kg_m-2_s-1
EMIS_CO_TRASH CO      0     9  -1   2   kg/m2/s  carbon_monoxide_trash_emission_mass_flux                                        kg_m-2_s-1
EMIS_NH3      NH3    -1    -1  -1   2   kg/m2/s  ammonia_total_emission_mass_flux                                                kg_m-2_s-1
EMIS_NH3_BIRD NH3     0     30 -1   2   kg/m2/s  ammonia_seabird_emission_mass_flux                                              kg_m-2_s-1
EMIS_ISOP     ISOP   -1    -1  -1   2   kgC/m2/s isoprene_total_emission_mass_flux_expressed_as_carbon                           kg_m-2_s-1
EMIS_PRPE     PRPE   -1    -1  -1   2   kgC/m2/s propene_total_emission_mass_flux_expressed_as_carbon                            kg_m-2_s-1
EMIS_ACET     ACET   -1    -1  -1   2   kgC/m2/s acetone_total_emission_mass_flux_expressed_as_carbon                            kg_m-2_s-1
EMIS_SO2      SO2    -1    -1  -1   2   kg/m2/s  sulfur_dioxide_total_emission_mass_flux                                         kg_m-2_s-1
EMIS_SO2_AN   SO2     0     1  -1   2   kg/m2/s  sulfur_dioxide_anthropogenic_emission_mass_flux                                 kg_m-2_s-1
EMIS_SO2_BB   SO2     0     8  -1   2   kg/m2/s  sulfur_dioxide_biomass_emission_mass_flux                                       kg_m-2_s-1
EMIS_SO2_VER  SO2     115   61 -1   2   kg/m2/s  sulfur_dioxide_eruptive_volcano_emission_mass_flux                              kg_m-2_s-1
EMIS_SO2_VDG  SO2     115   62 -1   2   kg/m2/s  sulfur_dioxide_degassing_volcano_emission_mass_flux                             kg_m-2_s-1
EMIS_SO4      SO4    -1    -1  -1   2   kg/m2/s  sulfate_total_emission_mass_flux                                                kg_m-2_s-1
EMIS_SO4_AN   SO4     0     1  -1   2   kg/m2/s  sulfate_anthropogenic_emission_mass_flux                                        kg_m-2_s-1
EMIS_SO4_BB   SO4     0     8  -1   2   kg/m2/s  sulfate_biomass_emission_mass_flux                                              kg_m-2_s-1
EMIS_SO4_VER  SO4     115   61 -1   2   kg/m2/s  sulfate_eruptive_volcano_emission_mass_flux                                     kg_m-2_s-1
EMIS_SO4_VDG  SO4     115   62 -1   2   kg/m2/s  sulfate_degassing_volcano_emission_mass_flux                                    kg_m-2_s-1
EMIS_DMS      DMS    -1    -1  -1   2   kg/m2/s  dimethyl_sulfide_total_emission_mass_flux                                       kg_m-2_s-1
EMIS_C2H6     C2H6   -1    -1  -1   2   kg/m2/s  ethane_total_emission_mass_flux                                                 kg_m-2_s-1
EMIS_C2H6_AN  C2H6    0     1  100  2   kg/m2/s  ethane_total_emission_mass_flux                                                 kg_m-2_s-1
EMIS_C2H6_BF  C2H6    0     4  100  2   kg/m2/s  ethane_total_emission_mass_flux                                                 kg_m-2_s-1
EMIS_DST1     DST1   -1    -1  -1   2   kg/m2/s  dust_aerosol_0.7_microns_emission_mass_flux                                     kg_m-2_s-1
EMIS_DST2     DST2   -1    -1  -1   2   kg/m2/s  dust_aerosol_1.4_microns_emission_mass_flux                                     kg_m-2_s-1
EMIS_DST3     DST3   -1    -1  -1   2   kg/m2/s  dust_aerosol_2.4_microns_emission_mass_flux                                     kg_m-2_s-1
EMIS_DST4     DST4   -1    -1  -1   2   kg/m2/s  dust_aerosol_4.5_microns_emission_mass_flux                                     kg_m-2_s-1
EMIS_SALA     SALA   -1    -1  -1   2   kg/m2/s  sea-salt_aerosol_accumulation_mode_0.01-0.05_microns_total_emission_mass_flux   kg_m-2_s-1
EMIS_SALC     SALC   -1    -1  -1   2   kg/m2/s  sea-salt_aerosol_coarse_mode_0.5-8_microns_total_emission_mass_flux             kg_m-2_s-1
EMIS_Br2      Br2    -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_BrSALA   BrSALA -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_BrSALC   BrSALC -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_HOI      HOI    -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_I2       I2     -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_CH3I     CH3I   -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_CH2I2    CH2I2  -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_CH2ICl   CH2ICl -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_CH2IBr   CH2IBr -1    -1  -1   2   kg/m2/s  molecular_bromine_total_emission_mass_flux                                      kg_m-2_s-1
EMIS_BCPI     BCPI   -1    -1  -1   2   kgC/m2/s hydrophilic_black_carbon_total_emission_mass_flux_expressed_as_carbon           kg_m-2_s-1
EMIS_BCPI_IND BCPI    0     1  -1   2   kgC/m2/s BCPI_IND                                                                        kgC_m-2_s-1
EMIS_BCPI_POW BCPI    0     2  -1   2   kgC/m2/s BCPI_POW                                                                        kgC_m-2_s-1
EMIS_BCPI_TRA BCPI    0     3  -1   2   kgC/m2/s BCPI_TRA                                                                        kgC_m-2_s-1
EMIS_BCPI_RES BCPI    0     4  -1   2   kgC/m2/s BCPI_RES                                                                        kgC_m-2_s-1
EMIS_BCPI_AN  BCPI    0     1  -1   2   kgC/m2/s hydrophilic_black_carbon_anthropogenic_emission_mass_flux_expressed_as_carbon   kg_m-2_s-1
EMIS_BCPI_BB  BCPI    0     8  -1   2   kgC/m2/s hydrophilic_black_carbon_biomass_emission_mass_flux_expressed_as_carbon         kg_m-2_s-1
EMIS_BCPO     BCPO   -1    -1  -1   2   kgC/m2/s hydrophobic_black_carbon_total_emission_mass_flux_expressed_as_carbon           kg_m-2_s-1
EMIS_BCPO_IND BCPO    0     1  -1   2   kgC/m2/s BCPO_IND                                                                        kgC_m-2_s-1
EMIS_BCPO_POW BCPO    0     2  -1   2   kgC/m2/s BCPO_POW                                                                        kgC_m-2_s-1
EMIS_BCPO_TRA BCPO    0     3  -1   2   kgC/m2/s BCPO_TRA                                                                        kgC_m-2_s-1
EMIS_BCPO_RES BCPO    0     4  -1   2   kgC/m2/s BCPO_RES                                                                        kgC_m-2_s-1
EMIS_BCPO_AN  BCPO    0     1  -1   2   kgC/m2/s hydrophobic_black_carbon_anthropogenic_emission_mass_flux_expressed_as_carbon   kg_m-2_s-1
EMIS_BCPO_BB  BCPO    0     8  -1   2   kgC/m2/s hydrophobic_black_carbon_biomass_emission_mass_flux_expressed_as_carbon         kg_m-2_s-1
EMIS_OCPI     OCPI   -1    -1  -1   2   kgC/m2/s hydrophilic_organic_carbon_total_emission_mass_flux_expressed_as_carbon         kg_m-2_s-1
EMIS_OCPI_IND OCPI    0     1  -1   2   kgC/m2/s OCPI_IND                                                                        kgC_m-2_s-1
EMIS_OCPI_POW OCPI    0     2  -1   2   kgC/m2/s OCPI_POW                                                                        kgC_m-2_s-1
EMIS_OCPI_TRA OCPI    0     3  -1   2   kgC/m2/s OCPI_TRA                                                                        kgC_m-2_s-1
EMIS_OCPI_RES OCPI    0     4  -1   2   kgC/m2/s OCPI_RES                                                                        kgC_m-2_s-1
EMIS_OCPI_AN  BCPI    0     1  -1   2   kgC/m2/s hydrophilic_organic_carbon_anthropogenic_emission_mass_flux_expressed_as_carbon kg_m-2_s-1
EMIS_OCPI_BB  BCPI    0     8  -1   2   kgC/m2/s hydrophilic_organic_carbon_biomass_emission_mass_flux_expressed_as_carbon       kg_m-2_s-1
EMIS_OCPO     OCPO   -1    -1  -1   2   kgC/m2/s hydrophobic_organic_carbon_total_emission_mass_flux_expressed_as_carbon         kg_m-2_s-1
EMIS_OCPO_IND OCPO    0     1  -1   2   kgC/m2/s OCPO_IND                                                                        kgC_m-2_s-1
EMIS_OCPO_POW OCPO    0     2  -1   2   kgC/m2/s OCPO_POW                                                                        kgC_m-2_s-1
EMIS_OCPO_TRA OCPO    0     3  -1   2   kgC/m2/s OCPO_TRA                                                                        kgC_m-2_s-1
EMIS_OCPO_RES OCPO    0     4  -1   2   kgC/m2/s OCPO_RES                                                                        kgC_m-2_s-1
EMIS_OCPO_AN  OCPO    0     1  -1   2   kgC/m2/s hydrophobic_organic_carbon_anthropogenic_emission_mass_flux_expressed_as_carbon kg_m-2_s-1
EMIS_OCPO_BB  OCPO    0     8  -1   2   kgC/m2/s hydrophobic_organic_carbon_biomass_emission_mass_flux_expressed_as_carbon       kg_m-2_s-1
EMIS_CH2O     CH2O   -1    -1  -1   2   kg/m2/s  formaldehyde_total_emission_mass_flux                                           kg_m-2_s-1
EMIS_CH2O_BB  CH2O    0     8  -1   2   kg/m2/s  formaldehyde_total_emission_mass_flux                                           kg_m-2_s-1
EMIS_ALK4     ALK4    0    -1  -1   2   kgC/m2/s lumped_alkanes_c4_and_higher_total_emission_mass_flux_expressed_as_carbon       kg_m-2_s-1
EMIS_C3H8     C3H8   -1    -1  -1   2   kgC/m2/s propane_total_emission_mass_flux_expressed_as_carbon                            kg_m-2_s-1
EMIS_ALD2     ALD2   -1    -1  -1   2   kgC/m2/s acetaldehyde_total_emission_mass_flux_expressed_as_carbon                       kg_m-2_s-1
EMIS_MEK      MEK    -1    -1  -1   2   kgC/m2/s methyl_ethyl_ketone_total_emission_mass_flux_expressed_as_carbon                kg_m-2_s-1
EMIS_CHBr3    CHBr3  -1    -1  -1   2   kg/m2/s  bromoform_total_emission_mass_flux                                              kg_m-2_s-1
EMIS_CH2Br2   CH2Br2 -1    -1  -1   2   kg/m2/s  dibromomethane_total_emission_mass_flux                                         kg_m-2_s-1
EMIS_CH4      CH4    -1    -1  -1   2   kg/m2/s  methane_total_emission_mass_flux                                                kg_m-2_s-1
EMIS_CH4_WETL CH4     0     9  -1   2   kg/m2/s  methane_wetland_emission_mass_flux                                              kg_m-2_s-1
# 2D/3D -----------------------------------------------------------------------------------------------------------------------------------
EMIS_NO_LGHT  NO     103   -1  -1   2   kg/m2/s  nitric_oxide_lightning_emission_mass_flux                                       kg_m-2_s-1
