
OBSNAM: MERRA2
OBSDSC: GEOSadas-5_12_4_(MERRA2)

        filename:   'VERIFICATION/MERRA2_MEANS/inst3_3d_asm_Np/xdf.tabl'
        filetype:   'HDF'
        fields:     'ZLE'      , 'DYN'           , 'H'      , 1
                    'T'        , 'DYN'           , 'T'      , 1
                    'U'        , 'DYN'           , 'U'      , 1
                    'V'        , 'DYN'           , 'V'      , 1
                    'RH2'      , 'MOIST'         , 'RH'     , 1
                    'Q'        , 'MOIST'         , 'QV'     , 1
                    'SLP'      , 'DYN'           , 'SLP'    , 1
                    'OMEGA'    , 'DYN'           , 'OMEGA'  , 1
                    'DUM'      , 'DYN'           , 'DUM'    , 1
                    ::
