
OBSNAM: gdas1
OBSDSC: NCEP_OPNL_gdas1

        filename:   'VERIFICATION/NCEP_GDAS-1.NCDF3/xdf.tabl'
        filetype:   'HDF'
        fields:     'ZLE'      , 'DYN'           , 'HGHT'   , 1
                    'SLP'      , 'DYN'           , 'SLP'    , 1
                    'T'        , 'DYN'           , 'TMPU'   , 1
                    'U'        , 'DYN'           , 'UWND'   , 1
                    'V'        , 'DYN'           , 'VWND'   , 1
                    'RH2'      , 'MOIST'         , 'RH'     , 1/100
                    ::
