dset   ^q.data
undef  UNDEF
title template for zonal mean data
xdef  XDIM linear LON0  DX
ydef  YDIM linear LAT0  DY
zdef  ZDIM levels LEVS
tdef  TDIM linear BDATE DT
vars 1
qdata ZDIM 0 Mean Data
endvars
