dset   ^qz.data
undef  UNDEF
title template for zonal mean data
xdef  1    linear LON0  DX
ydef  YDIM linear LAT0  DY
zdef  ZDIM levels LEVS
tdef  TDIM linear BDATE DT
vars 22
varus    ZDIM 0 Mean Data
varvs    ZDIM 0 Mean Data
varts    ZDIM 0 Mean Data
varqs    ZDIM 0 Mean Data
varws    ZDIM 0 Mean Data
varhs    ZDIM 0 Mean Data
covuvs   ZDIM 0 Mean Data
covvts   ZDIM 0 Mean Data
covvqs   ZDIM 0 Mean Data
covwts   ZDIM 0 Mean Data
covwqs   ZDIM 0 Mean Data
varup    ZDIM 0 Mean Data
varvp    ZDIM 0 Mean Data
vartp    ZDIM 0 Mean Data
varqp    ZDIM 0 Mean Data
varwp    ZDIM 0 Mean Data
varhp    ZDIM 0 Mean Data
covuvp   ZDIM 0 Mean Data
covvtp   ZDIM 0 Mean Data
covvqp   ZDIM 0 Mean Data
covwtp   ZDIM 0 Mean Data
covwqp   ZDIM 0 Mean Data
endvars
