dset   ^qz.data
undef  UNDEF
title template for vortex data
xdef     1 linear -180 1
ydef     1 linear -90  1
zdef  ZDIM levels LEVS
tdef    12 linear BDATE 1mo
vars 3
uz     ZDIM 0 Zonal Mean Data
uzp    ZDIM 0 Zonal Mean Data + 1 STD
uzm    ZDIM 0 Zonal Mean Data - 1 STD
endvars
