dset   ^GRADSDATA
undef  UNDEF
title template for 1-deg data
xdef  1 linear 1 1
ydef  1 linear 1 1
zdef ZDIM2 levels LEVS
tdef TDIM2 linear TIMEBEG TIMEINC
vars 1
q    ZDIM2 0 Arbitray 1-degree data
endvars
