dset   ^GRADSDATA
undef  UNDEF
title template for 1-deg data
xdef  1440 linear    0.000  0.25
ydef   721 linear  -90.000  0.25
zdef ZDIM2 levels LEVS
tdef    1  linear     00z01JAN2005    1mo
vars 1
q    ZDIM2 0 Arbitray 1-degree data
endvars
