
OBSNAM: ERBE
OBSDSC: ERBE_Monthly_Data

        filename:   'VERIFICATION/Clouds_radiation/erbe/erbe2x25.tabl'
        filetype:   'BIN'
        fields:     'OLR'      , 'IRRAD'         , 'OLR'         , 1
                    'OLC'      , 'IRRAD'         , 'OLRCLR'      , 1
                    ::

