
OBSNAM: COADS
OBSDSC: COADS_CLIMATOLOGY_(1945-1989)

        filename:   'VERIFICATION/surface_fields/coads/coadsgrads2.tabl'
        filetype:   'BIN'
        fields:     'LHFX'  , 'SURFACE' , 'LATENT3' , 1
                    ::
