
OBSNAM: SRB
OBSDSC: SRB_Rel2.5_SW_Monthly_Data

        filename:   'VERIFICATION/SRB/SW/FTOA_monthly.ctl'
        filetype:   'BIN'
        fields:     'SLRTP'    , 'SOLAR'         , 'FTOA'        , 1 ,
                    ::

        filename:   'VERIFICATION/SRB/SW/FCLR_monthly.ctl'
        filetype:   'BIN'
        fields:     'SLRSFC'   , 'SOLAR'         , 'FCLR'        , 1 ,
                    ::

        filename:   'VERIFICATION/SRB/SW/FABS_monthly.ctl'
        filetype:   'BIN'
        fields:     'RSRS'     , 'SOLAR'         , 'FABS'        , 1 ,
                    ::

        filename:   'VERIFICATION/SRB/SW/FALL_monthly.ctl'
        filetype:   'BIN'
        fields:     'SLRSF'    , 'SOLAR'         , 'FALL'        , 1 ,
                    ::

        filename:   'VERIFICATION/SRB/SW/TCLD_monthly.ctl'
        filetype:   'BIN'
        fields:     'CLDTT'    , 'SOLAR'         , 'TCLD'        , 0.01 ,
                    ::

        filename:   'VERIFICATION/SRB/SW/SALB_monthly.ctl'
        filetype:   'BIN'
        fields:     'ALBEDO'   , 'SOLAR'         , 'SALB'        , 1 ,
                    ::

        filename:   'VERIFICATION/SRB/SW/CWV_monthly.ctl'
        filetype:   'BIN'
        fields:     'TPW'      , 'MOIST'         , 'CWV'         , 1 ,
                    ::
