
OBSNAM: OAfluxes
OBSDSC: WHOI_Monthly_surface_fluxes

        filename:   'VERIFICATION/OAfluxes/netheat_1983-2004/grads/qnet.1983_2004.ctl'
        filetype:   'BIN'
        fields:     'QNET'     , 'RADIATION'     , 'QNET'        , 1 ,
                    'QDUM'     , 'RADIATION'     , 'QDUM'        , 1 ,
                    ::

