
OBSNAM: jra25
OBSDSC: JRA25_REANAL_Jan_1979-present

        filename:   'VERIFICATION/JRA25/anl_p.monthly.ctl
        filetype:   'BIN'
        fields:     'ZLE'      , 'DYN'           , 'HGTPRS'   , 1
                    'T'        , 'DYN'           , 'TMPPRS'   , 1
                    'U'        , 'DYN'           , 'UGRDPRS'  , 1
                    'V'        , 'DYN'           , 'VGRDPRS'  , 1
                    'SLP'      , 'DYN'           , 'PRMSLMSL' , 1
                    'Q'        , 'MOIST'         , 'SPFHPRS'  , 1
                    'T2M'      , 'SURFACE'       , 'TMPSFC'   , 1
                    'Q2M'      , 'SURFACE'       , 'SPFHSFC'  , 1
                    'U10M'     , 'SURFACE'       , 'UGRDSFC'  , 1
                    'V10M'     , 'SURFACE'       , 'VGRDSFC'  , 1
                    ::
