
OBSNAM: merrasc
OBSDSC: GEOSdas-2_1_4_(MERRA_Scout)

        filename:   'VERIFICATION/MERRA_Scout.NCDF3/tavg1_2d_flx_Nx/tavg1_2d_flx_Nx.ddf'
        filetype:   'HDF'
        fields:     'TPREC'    , 'MOIST'         , 'PRECTOT' , 86400
                    'TAUX'     , 'SURFACE'       , 'TAUX'    , 100
                    'TAUY'     , 'SURFACE'       , 'TAUY'    , 100
                    ::
