
OBSNAM: ceresg4
OBSDSC: CERES_(GEOS4-DAS)_Processing

        filename:   'VERIFICATION/c403_cer_01/residual.ctl'
        filetype:   'BIN'
        fields:     'RES'      , 'DYN'           , 'RES'     , 1
                    'DUM'      , 'DYN'           , 'DUM'     , 1
                    ::

        filename:   'VERIFICATION/GEOS4_CERES/str.ctl'
        filetype:   'BIN'
        fields:     'STR'      , 'DYN'           , 'STR'     , 1
                    'DUM'      , 'DYN'           , 'DUM'     , 1
                    ::
