Linux/*
Linux/*/*
Linux/*/*/*
Linux/*/*/*/*
Linux/lib/*
Linux/lib/*
Linux/lib/*.mk
Linux/lib/*.so
Linux/lib/libg/*
Linux/lib/libg/*/*
Linux/lib/esmf.mk
Linux/lib/libesmf.so
ESMF/src/apps/ESMF_Info/a.out
ESMF/src/apps/ESMF_RegridWeightGen/a.out
obj/*
obj/*/*
a.out