#
# Sample Acquire resource file.
#

#                   -------------
#                     ODS FILES
#                   -------------
#
gatun:/silo3/dao_ops/val/GEOS-2.9.0/conv+tovs/ods/rpk4atov/Y%y4/M%m2/r4aods.t%y4%m2%d2

#           -------------------------------
#           DAOTOVS LEVEL 1C RADIANCES, ETC
#           -------------------------------
#
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/amsua.nk.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/hirs.nh.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/hirs.nj.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/hirs.nk.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/msu.nj.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/sonde_hirs.nh.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/sonde_hirs.nj.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/sonde_hirs.nk.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/ssu.nh.hdf.t%y4%m2%d2
helios1:/u/joiner/tovs/l1b/%y4%m2/l1c_new/ssu.nj.hdf.t%y4%m2%d2

