#            NCCS Specific Version
#
# This observation system resource file database will track 
# the whereabout of observation files.
#   It will be used by scripts require_obsys (hard check the 
# existence of observation files)
#   and acquire_obsys (will call acquire to get files).
#
# Syntax:
# -------
# BEGIN observation_file_class => StandardName
#   startYYYYMMDD_HHz-endYYYYMMDD_HHz incrementHHMMSS remote_file_name_template
# END
# Note: set "endYYYYMMDD_HHz" as "present" if new files added to system daily.
#
# Modification History:
# ---------------------
# 2003.08.19 Todling         Split NCEP classes into classes that need to be reblocked
# 2003.12.05 Todling         Added ref to ODS files for Terra MODIS Winds
#
#+BEGIN obclass data set description
#+  ssi_prep_bufr:    NCEP Conventional Data in bufr format
#+  ssi_osbuv_bufr:   NCEP SBUV  Data in bufr format
#+  ssi_spssmi_bufr:  NCEP SSMI  Data in bufr format
#+  ssi_sptrmm_bufr:  NCEP TRMM  Data in bufr format
#+  ssi_1bamua_bufr:  NCEP AMSUA Data in bufr format
#+  ssi_1bamub_bufr:  NCEP AMSUB Data in bufr format
#+  ssi_1bhrs2_bufr:  NCEP HIRS2 Data in bufr format
#+  ssi_1bhrs3_bufr:  NCEP HIRS3 Data in bufr format
#+  ssi_1bmsu_bufr:   NCEP MSU   Data in bufr format
#+END
#

# SSI/GSI observational data
# --------------------------
BEGIN ssi_prep_bufr => gdas1.%y4%m2%d2.t%h2z.prepbufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.prepbufr.nr
END
BEGIN ssi_osbuv_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.osbuv.tm00.bufr_d
END
BEGIN ssi_spssmi_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.spssmi.tm00.bufr_d
END
BEGIN ssi_sptrmm_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.sptrmm.tm00.bufr_d
END
BEGIN ssi_1bamua_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.1bamua.tm00.bufr_d
END
BEGIN ssi_1bamub_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.1bamub.tm00.bufr_d
END
BEGIN ssi_1bhrs2_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.1bhrs2.tm00.bufr_d
END
BEGIN ssi_1bhrs3_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.1bhrs3.tm00.bufr_d
END
BEGIN ssi_1bmsu_bufr
  20040101_00z-20040531_18z 240000 /nfsuser/g01/wx20td/data/obs/%y4%m2%d2/gdas1.%y4%m2%d2.t%h2z.1bmsu.tm00.bufr_d
END
