#            NCCS Specific Version
#
# This observation system resource file database will track 
# the whereabout of GAAS observation files.
#   It will be used by scripts require_obsys (hard check the 
# existence of observation files)
#   and acquire_obsys (will call acquire to get files).
#
# Syntax:
# -------
# BEGIN observation_file_class => StandardName
#   startYYYYMMDD_HHz-endYYYYMMDD_HHz incrementHHMMSS remote_file_name_template
# END
# Note: set "endYYYYMMDD_HHz" as "present" if new files added to system daily.
# Note: replacing "present" (see note above) with future date 
#
# Modification History:
# ---------------------
# 11Nov2013  Stassi     Initial version
#
#=======================================================================

# AVHRR ascending and descending Synoptic npz files
#--------------------------------------------------
BEGIN patmosx_asc => patmosx_v05r02.asc.%y4%m2%d2_%h2z.npz
  19790101_00z-20020801_00z 030000 /archive/input/dao_ops/obs/reanalysis/patmosx/Level2/Synoptic/Y%y4/M%m2/D%d2/patmosx_v05r02.asc.%y4%m2%d2_%h2z.npz
END
BEGIN patmosx_des => patmosx_v05r02.des.%y4%m2%d2_%h2z.npz
  19790101_00z-20020801_00z 030000 /archive/input/dao_ops/obs/reanalysis/patmosx/Level2/Synoptic/Y%y4/M%m2/D%d2/patmosx_v05r02.des.%y4%m2%d2_%h2z.npz
END

# MODIS Terra NNR Data
#--------------------- 
BEGIN mod04_land_nnr => nnr_002.MOD04_L2a.land.%y4%m2%d2_%h200z.ods
  20000301_00z-21001231_21z 030000 /archive/input/dao_ops/obs/reanalysis/modis/NNR/051.nnr_002/Level2/MOD04/Y%y4/M%m2/nnr_002.MOD04_L2a.land.%y4%m2%d2_%h200z.ods
END
BEGIN mod04_ocean_nnr => nnr_002.MOD04_L2a.ocean.%y4%m2%d2_%h200z.ods
  20000301_00z-21001231_21z 030000 /archive/input/dao_ops/obs/reanalysis/modis/NNR/051.nnr_002/Level2/MOD04/Y%y4/M%m2/nnr_002.MOD04_L2a.ocean.%y4%m2%d2_%h200z.ods
END

# MODIS Aqua NNR Data
#--------------------
BEGIN myd04_land_nnr => nnr_002.MYD04_L2a.land.%y4%m2%d2_%h200z.ods
  20020801_00z-21001231_21z 030000 /archive/input/dao_ops/obs/reanalysis/modis/NNR/051.nnr_002/Level2/MYD04/Y%y4/M%m2/nnr_002.MYD04_L2a.land.%y4%m2%d2_%h200z.ods
END
BEGIN myd04_ocean_nnr => nnr_002.MYD04_L2a.ocean.%y4%m2%d2_%h200z.ods
  20020801_00z-21001231_21z 030000 /archive/input/dao_ops/obs/reanalysis/modis/NNR/051.nnr_002/Level2/MYD04/Y%y4/M%m2/nnr_002.MYD04_L2a.ocean.%y4%m2%d2_%h200z.ods
END

# MISR over land
#---------------
BEGIN misr_F12_bright => misr_F12_0022.bright_tc8.obs.%y4%m2%d2.ods
  20000301_00z-20140630_21z 240000 /archive/input/dao_ops/obs/reanalysis/misr/Level2/ODS_Bright/Y%y4/M%m2/misr_F12_0022.bright_tc8.obs.%y4%m2%d2.ods
END

# MODIS Level2 MOD04 and MYD04 data
#-----------------------------------
#--BEGIN mod04_005_flk => MOD04_L2.A%y4%j3.%h2%n2.005.NRT.hdf
#--  20100719_01z-20110920_24z 000500 /archive/input/dao_ops/obs/flk/modis/MOD04/%y4/%j3/MOD04_L2.A%y4%j3.%h2%n2.005.NRT.hdf
#--END
#--BEGIN mod04_051_flk => MOD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
#--  20110921_00z-21001231_18z 000500 /archive/input/dao_ops/obs/flk/modis/MOD04/%y4/%j3/MOD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
#--END
#--BEGIN myd04_051_flk => MYD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
#--  20100719_01z-21001231_18z 000500 /archive/input/dao_ops/obs/flk/modis/MYD04/%y4/%j3/MYD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
#--END

# MODIS Terra Level2 Data
#------------------------
BEGIN mod04_051_flk => MOD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
  20140101_00z-21001231_18z 000500 /discover/nobackup/dao_ops/intermediate/flk/modis/MOD04/%y4/%j3/MOD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
END

# MODIS Aqua Level2 Data
#-----------------------
BEGIN myd04_051_flk => MYD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
  20140101_00z-21001231_18z 000500 /discover/nobackup/dao_ops/intermediate/flk/modis/MYD04/%y4/%j3/MYD04_L2.A%y4%j3.%h2%n2.051.NRT.hdf
END

# AERONET Data
#-------------
BEGIN aeronet_obs => aeronet.obs.%y4%m2%d2.ods
  19990101_00z-20141029_00z 240000 /archive/input/dao_ops/obs/reanalysis/aeronet/ods/Y%y4/M%m2/aeronet.obs.%y4%m2%d2.ods
END
