OBSNAM: @EXPID
OBSDSC: @EXPDSC

        filename:   '@pwd/residual.@EXPID.ctl'
        filetype:   'BIN'
        fields:     'STR'      , 'DYN'           , 'STR'  , 1
                    'RES'      , 'DYN'           , 'RES'  , 1
                    'DUM'      , 'DYN'           , 'DUM'  , 1
                    ::
