OBSNAM: MERRA-2
OBSDSC: MERRA-2_Reanalysis

        filename:   'VERIFICATION/MERRA2_MEANS/residual.MERRA-2.ctl'
        filetype:   'BIN'
        fields:     'STR'      , 'DYN'           , 'STR'  , 1
                    'RES'      , 'DYN'           , 'RES'  , 1
                    'DUM'      , 'DYN'           , 'DUM'  , 1
                    ::
