
OBSNAM: merra
OBSDSC: GEOSdas-2_1_4_(MERRA)

        filename:   'VERIFICATION/MERRA_MEANS/inst3_3d_asm_Cp.ddf'
        filetype:   'HDF'
        fields:     'ZLE'      , 'DYN'           , 'H'          , 1
                    'T'        , 'DYN'           , 'T'          , 1
                    'U'        , 'DYN'           , 'U'          , 1
                    'V'        , 'DYN'           , 'V'          , 1
                    'RH2'      , 'MOIST'         , 'RH'         , 100
                    'Q'        , 'MOIST'         , 'QV'         , 1
                    'PS'       , 'DYN'           , 'PS'         , 1
                    'SLP'      , 'DYN'           , 'SLP'        , 1
                    'OMEGA'    , 'DYN'           , 'OMEGA'      , 1
                    'COV_U_V'  , 'DYN'           , 'COV_U_V'    , 1
                    'COV_V_T'  , 'DYN'           , 'COV_V_T'    , 1
                    'DUM'      , 'DYN'           , 'DUM'        , 1
                    ::
