
# -----------------------
# Quickplot RC Parameters
# -----------------------
#
#      PLOT_STATUS:        ON .... Enables   Plot Package
#                         OFF .... Disables  Plot Package
#
#   PLOT_FREQUENCY:      CLIM .... Produces Plots based on ALL years available within EXPID (i.e., the Climatology of the EXPID)
#                      YEARLY .... Produces Plots for each individual year available within EXPID
#
#     PLOT_SEASONS:       XXX .... Produces Plots for each 3-Character SEASON listed
#                                  Options: JAN FEB MAR APR MAY JUN JUL AUG SEP OCT NOV DEC DJF MAM JJA SON ANN
#
#     PLOT_OPTIONS:           .... Any valid optional argument to QUICKPLOT
#
#      PLOT_CMPEXP:      EXPs .... List of experiment locations to use for plot comparisons
#
#        PLOT_MISC:  EXPORT:GC ... List of Specifc EXPORT:GCs to plot (use: 'MISC' to plot ALL miscellaneous HISTORY.rc EXPORTS)
#                                  Horizontal Plots are created for 2-D Variables, while
#                                  Zonal Mean Plots are created for 3-D Variables
#                                  Eg:    U:DYN  DQLDT:MOIST  DTDTTOT:PHYSICS  MISC
#                                  Note:  U:DYN:950 will produce a Horizontal Plot of U:DYN at 950-mb
#
#        PLOT_MOVE:         ON ... Submits gcm_moveplot.j to populate Web Page (Assumes EXPID exists on Web Page)
#                                  Note:  moveplot options may be appended (e.g., ON -expid NEWID )
# ---------------------------------------------------------------------------------------------------

   PLOT_STATUS: ON
  PLOT_SEASONS: DJF JJA
PLOT_FREQUENCY: CLIM
  PLOT_OPTIONS:
   PLOT_CMPEXP:
     PLOT_MISC: MISC
     PLOT_MOVE: OFF
