QUADRATICS: 'u'     , 'v'     ,
            'u'     , 't'     ,
            'v'     , 't'     ,
            'u'     , 'h'     ,
            'v'     , 'h'     ,
            'u'     , 'qv'    ,
            'u'     , 'ql'    ,
            'u'     , 'qi'    ,
            'v'     , 'qv'    ,
            'v'     , 'ql'    ,
            'v'     , 'qi'    ,
            'u'     , 'epv'   ,
            'v'     , 'epv'   ,
            'u'     , 'o3'    ,
            'v'     , 'o3'    ,
            'omega' , 'u'     ,
            'omega' , 'v'     ,
            'omega' , 't'     ,
            'omega' , 'qv'    ,
            'omega' , 'ql'    ,
            'omega' , 'qi'    ,
            'omega' , 'o3'    ,
            'ustar' , 'vstar' , 'USVS' ,
            'vstar' , 'tstar' , 'VSTS' ,
            'vstar' , 'qstar' , 'VSQS' ,
            'wstar' , 'tstar' , 'WSTS' ,
            'wstar' , 'qstar' , 'WSQS' ,
            ::

ALIASES:    'u'  ,  'U'       '
            'u'  ,  'uwnd'    '
            'u'  ,  'UWND'    '
            'u'  ,  'ugrd'    '
            'u'  ,  'UGRD'    '
            'u'  ,  'ugrdprs' '
            'u'  ,  'UGRDPRS' '

            'v'  ,  'V'       '
            'v'  ,  'vwnd'    '
            'v'  ,  'VWND'    '
            'v'  ,  'vgrd'    '
            'v'  ,  'VGRD'    '
            'v'  ,  'vgrdprs' '
            'v'  ,  'VGRDPRS' '

            't'  ,  'T'       '
            't'  ,  'tmp'     '
            't'  ,  'TMP'     '
            't'  ,  'tmpu'    '
            't'  ,  'TMPU'    '
            't'  ,  'tmpprs'  '
            't'  ,  'TMPPRS'  '

            'qv' ,  'q'       '
            'qv' ,  'Q'       '
            'qv' ,  'QV'      '
            'qv' ,  'sphu'    '
            'qv' ,  'SPHU'    '

            'ql' ,  'QL'      '

            'qi' ,  'QI'      '

            'h'  ,  'H'       '
            'h'  ,  'hgt'     '
            'h'  ,  'HGT'     '
            'h'  ,  'hght'    '
            'h'  ,  'HGHT'    '
            'h'  ,  'hgtprs'  '
            'h'  ,  'HGTPRS'  '
            'h'  ,  'z'       '
            'h'  ,  'Z'       '

            'ustar'  ,  'U'       '
            'ustar'  ,  'uwnd'    '
            'ustar'  ,  'UWND'    '
            'ustar'  ,  'ugrd'    '
            'ustar'  ,  'UGRD'    '
            'ustar'  ,  'ugrdprs' '
            'ustar'  ,  'UGRDPRS' '

            'vstar'  ,  'V'       '
            'vstar'  ,  'vwnd'    '
            'vstar'  ,  'VWND'    '
            'vstar'  ,  'vgrd'    '
            'vstar'  ,  'VGRD'    '
            'vstar'  ,  'vgrdprs' '
            'vstar'  ,  'VGRDPRS' '

            'tstar'  ,  'T'       '
            'tstar'  ,  'tmp'     '
            'tstar'  ,  'TMP'     '
            'tstar'  ,  'tmpu'    '
            'tstar'  ,  'TMPU'    '
            'tstar'  ,  'tmpprs'  '
            'tstar'  ,  'TMPPRS'  '

            'qstar'  ,  'q'       '
            'qstar'  ,  'Q'       '
            'qstar'  ,  'qv'      '
            'qstar'  ,  'QV'      '
            'qstar'  ,  'sphu'    '
            'qstar'  ,  'SPHU'    '

            'wstar'  ,  'omega'   '
            'wstar'  ,  'OMEGA'   '
            'omega'  ,  'OMEGA'   '

            'epv'    ,  'EPV'     '

            'o3'     ,  'O3'      '
            'o3'     ,  'OZ'      '
            'o3'     ,  'ozone'   '
            'o3'     ,  'OZONE'   '

            ::
