
OBSNAM: merrasc
OBSDSC: GEOSdas-2_1_4_(MERRA_Scout)

        filename:   'VERIFICATION/MERRA_Scout.NCDF3/tavg1_2d_flx_Nx/tavg1_2d_flx_Nx.ddf'
        filetype:   'HDF'
        fields:     'LHFX'    , 'SURFACE'       , 'EFLUX' , 1
                    ::
