
OBSNAM: ncep
OBSDSC: NCEP_REANAL_Ver-2

        filename:   'VERIFICATION/NCEP-R2/pgb.anl.197901.avrg.grib.ctl'
        filetype:   'BIN'
        fields:     'ZLE'      , 'DYN'           , 'HGHT'   , 1
                    'SLP'      , 'DYN'           , 'SLP'    , 1
                    'T'        , 'DYN'           , 'TMPU'   , 1
                    'U'        , 'DYN'           , 'UWND'   , 1
                    'V'        , 'DYN'           , 'VWND'   , 1
                    'OMEGA'    , 'DYN'           , 'OMEGA'  , 1
                    ::

        filename:   'VERIFICATION/NCEP_REANAL-2/ncep_sphu.ctl'
        filetype:   'BIN'
        fields:     'RH2'      , 'MOIST'         , 'RH'     , 1
                    'Q'        , 'MOIST'         , 'SPHU'   , 1
                    ::
